Repository DSpace/dspace-angular, pull requests merged in 2021-04, with the labels that each got.

#1041 Getting 401 when Community or Collection Administrator tries to edit Collection Authorization Group
  src/app/+admin/admin-routing-paths.ts
  src/app/+admin/admin-routing.module.ts
  src/app/+admin/admin-sidebar/admin-sidebar.component.spec.ts
  src/app/+admin/admin-sidebar/admin-sidebar.component.ts
  src/app/+admin/admin.module.ts
  src/app/+collection-page/collection-page.component.html
  src/app/+collection-page/collection-page.component.ts
  src/app/+collection-page/edit-collection-page/edit-collection-page.routing.module.ts
  src/app/+community-page/community-page.component.html
  src/app/+community-page/community-page.component.ts
  src/app/+community-page/edit-community-page/edit-community-page.routing.module.ts
  src/app/access-control/access-control-routing-paths.ts
  src/app/access-control/access-control-routing.module.ts
  src/app/access-control/access-control.module.ts
  src/app/access-control/epeople-registry/epeople-registry.actions.ts
  src/app/access-control/epeople-registry/epeople-registry.component.html
  src/app/access-control/epeople-registry/epeople-registry.component.spec.ts
  src/app/access-control/epeople-registry/epeople-registry.component.ts
  src/app/access-control/epeople-registry/epeople-registry.reducers.spec.ts
  src/app/access-control/epeople-registry/epeople-registry.reducers.ts
  src/app/access-control/epeople-registry/eperson-form/eperson-form.component.html
  src/app/access-control/epeople-registry/eperson-form/eperson-form.component.spec.ts
  src/app/access-control/epeople-registry/eperson-form/eperson-form.component.ts
  src/app/access-control/group-registry/group-form/group-form.component.html
  src/app/access-control/group-registry/group-form/group-form.component.spec.ts
  src/app/access-control/group-registry/group-form/group-form.component.ts
  src/app/access-control/group-registry/group-form/members-list/members-list.component.html
  src/app/access-control/group-registry/group-form/members-list/members-list.component.spec.ts
  src/app/access-control/group-registry/group-form/members-list/members-list.component.ts
  src/app/access-control/group-registry/group-form/subgroup-list/subgroups-list.component.html
  src/app/access-control/group-registry/group-form/subgroup-list/subgroups-list.component.spec.ts
  src/app/access-control/group-registry/group-form/subgroup-list/subgroups-list.component.ts
  src/app/access-control/group-registry/group-registry.actions.ts
  src/app/access-control/group-registry/group-registry.reducers.spec.ts
  src/app/access-control/group-registry/group-registry.reducers.ts
  src/app/access-control/group-registry/groups-registry.component.html
  src/app/access-control/group-registry/groups-registry.component.spec.ts
  src/app/access-control/group-registry/groups-registry.component.ts
  src/app/app-routing-paths.ts
  src/app/app-routing.module.ts
  src/app/app.reducer.ts
  src/app/core/data/feature-authorization/feature-authorization-guard/collection-administrator.guard.ts
  src/app/core/data/feature-authorization/feature-authorization-guard/community-administrator.guard.ts
  src/app/core/data/feature-authorization/feature-authorization-guard/group-administrator.guard.ts
  src/app/core/data/feature-authorization/feature-id.ts
  src/app/core/eperson/eperson-data.service.spec.ts
  src/app/core/eperson/eperson-data.service.ts
  src/app/core/eperson/group-data.service.spec.ts
  src/app/core/eperson/group-data.service.ts
  src/app/shared/comcol-forms/edit-comcol-page/comcol-role/comcol-role.component.ts
  src/app/shared/resource-policies/resource-policies.component.ts
  src/app/shared/testing/menu-service.stub.ts
  src/themes/custom/theme.module.ts
Labels: 1 APPROVAL

#1025 Cst 3782 fix repeatable fields
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/existing-metadata-list-element/existing-metadata-list-element.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/existing-metadata-list-element/existing-metadata-list-element.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/array-group/dynamic-form-array.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/models/array-group/dynamic-form-array.component.scss
  src/app/shared/form/builder/ds-dynamic-form-ui/models/array-group/dynamic-form-array.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/ds-dynamic-row-array-model.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/dynamic-lookup-relation-modal.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/dynamic-lookup-relation-modal.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/dynamic-lookup-relation-modal.component.ts
  src/app/shared/form/builder/form-builder.service.spec.ts
  src/app/shared/form/builder/form-builder.service.ts
  src/app/shared/form/builder/parsers/concat-field-parser.ts
  src/app/shared/form/builder/parsers/field-parser.ts
  src/app/shared/form/builder/parsers/onebox-field-parser.ts
  src/app/shared/form/form.component.html
  src/app/shared/form/form.component.scss
  src/app/shared/form/form.component.spec.ts
  src/app/shared/form/form.component.ts
  src/app/shared/mocks/form-models.mock.ts
  src/app/submission/sections/form/section-form-operations.service.spec.ts
  src/app/submission/sections/form/section-form-operations.service.ts
  src/app/submission/sections/form/section-form.component.html
  src/app/submission/sections/form/section-form.component.ts
  src/assets/i18n/en.json5
  src/styles/_global-styles.scss
Labels: bug, component: submission, high priority

#1066 Error deleting an item when its entity type has no relations
  src/app/+item-page/edit-item-page/item-delete/item-delete.component.spec.ts
  src/app/+item-page/edit-item-page/item-delete/item-delete.component.ts
Labels: 1 APPROVAL

#1055 (Angular UI) Rename / move 'relationship.type' metadata field to 'dspace.entity.type'
  src/app/+admin/admin-search-page/admin-search-results/admin-search-result-grid-element/item-search-result/item-admin-search-result-grid-element.component.ts
  src/app/+admin/admin-workflow-page/admin-workflow-search-results/admin-workflow-search-result-grid-element/workflow-item/workflow-item-search-result-admin-workflow-grid-element.component.ts
  src/app/+item-page/edit-item-page/item-delete/item-delete.component.ts
  src/app/+item-page/edit-item-page/item-relationships/item-relationships.component.ts
  src/app/+item-page/item-page-routing-paths.ts
  src/app/+item-page/simple/field-components/specific-field/title/item-page-title-field.component.html
  src/app/core/data/dso-redirect-data.service.spec.ts
  src/app/core/shared/item.model.ts
  src/app/core/shared/metadata-representation/item/item-metadata-representation.model.spec.ts
  src/app/core/shared/metadata-representation/item/item-metadata-representation.model.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/relationship.effects.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/relationship.effects.ts
  src/app/shared/metadata-representation/metadata-representation-loader.component.ts
  src/app/shared/mocks/dspace-rest/mocks/mock-publication-response.json
  src/app/shared/object-collection/shared/listable-object/listable-object-component-loader.component.ts
  src/app/shared/object-list/my-dspace-result-list-element/item-list-preview/item-list-preview.component.spec.ts
  src/app/shared/object-list/type-badge/type-badge.component.spec.ts
  src/assets/i18n/ar.json5
  src/assets/i18n/cs.json5
  src/assets/i18n/de.json5
  src/assets/i18n/en.json5
  src/assets/i18n/es.json5
  src/assets/i18n/fi.json5
  src/assets/i18n/fr.json5
  src/assets/i18n/hu.json5
  src/assets/i18n/ja.json5
  src/assets/i18n/lv.json5
  src/assets/i18n/nl.json5
  src/assets/i18n/pl.json5
  src/assets/i18n/pt-BR.json5
  src/assets/i18n/pt-PT.json5
  src/assets/i18n/sw.json5
  src/assets/i18n/tr.json5
Labels: 1 APPROVAL, code task

#1053 Submission dropzone issues
  src/app/shared/mocks/submission.mock.ts
  src/app/shared/uploader/uploader.component.ts
  src/app/submission/form/submission-form.component.html
  src/app/submission/form/submission-form.component.spec.ts
  src/app/submission/form/submission-form.component.ts
  src/app/submission/sections/sections.service.spec.ts
  src/app/submission/sections/sections.service.ts
Labels: 1 APPROVAL, bug, component: submission, e/2

#1083 Revert "Submission dropzone issues"
  src/app/shared/mocks/submission.mock.ts
  src/app/shared/uploader/uploader.component.ts
  src/app/submission/form/submission-form.component.html
  src/app/submission/form/submission-form.component.spec.ts
  src/app/submission/form/submission-form.component.ts
  src/app/submission/sections/sections.service.spec.ts
  src/app/submission/sections/sections.service.ts
Labels: code task

#1087 Submission dropzone issues [Fixed]
  src/app/shared/mocks/submission.mock.ts
  src/app/shared/uploader/uploader.component.html
  src/app/shared/uploader/uploader.component.ts
  src/app/submission/form/submission-form.component.html
  src/app/submission/form/submission-form.component.spec.ts
  src/app/submission/form/submission-form.component.ts
  src/app/submission/sections/sections.service.spec.ts
  src/app/submission/sections/sections.service.ts
Labels: 1 APPROVAL, bug, component: submission, e/2

#1004 Bitstream download page
  docs/Configuration.md
  server.ts
  src/app/+bitstream-page/bitstream-page-routing.module.ts
  src/app/+item-page/full/field-components/file-section/full-file-section.component.html
  src/app/+item-page/simple/field-components/file-section/file-section.component.html
  src/app/app-routing-paths.ts
  src/app/core/auth/auth-request.service.spec.ts
  src/app/core/auth/auth-request.service.ts
  src/app/core/auth/browser-auth-request.service.spec.ts
  src/app/core/auth/browser-auth-request.service.ts
  src/app/core/auth/server-auth-request.service.spec.ts
  src/app/core/auth/server-auth-request.service.ts
  src/app/core/core.module.ts
  src/app/core/data/feature-authorization/feature-id.ts
  src/app/core/metadata/metadata.service.spec.ts
  src/app/core/metadata/metadata.service.ts
  src/app/core/shared/file.service.ts
  src/app/process-page/detail/process-detail.component.html
  src/app/shared/bitstream-download-page/bitstream-download-page.component.html
  src/app/shared/bitstream-download-page/bitstream-download-page.component.spec.ts
  src/app/shared/bitstream-download-page/bitstream-download-page.component.ts
  src/app/shared/file-download-link/file-download-link.component.html
  src/app/shared/file-download-link/file-download-link.component.spec.ts
  src/app/shared/file-download-link/file-download-link.component.ts
  src/app/shared/object-detail/my-dspace-result-detail-element/item-detail-preview/item-detail-preview.component.ts
  src/app/shared/shared.module.ts
  src/app/submission/sections/upload/file/section-upload-file.component.spec.ts
  src/app/submission/sections/upload/file/section-upload-file.component.ts
  src/assets/i18n/en.json5
  src/modules/app/browser-app.module.ts
  src/modules/app/server-app.module.ts
Labels: authorization, bug, e/16

#1092 Repeatable fields with look up still broken in some cases
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/existing-metadata-list-element/existing-metadata-list-element.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/existing-metadata-list-element/existing-metadata-list-element.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/existing-relation-list-element/existing-relation-list-element.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/existing-relation-list-element/existing-relation-list-element.component.ts
Labels: high priority

#1100 Sync webdriver and chrome versions
  .github/workflows/build.yml
  e2e/protractor-ci.conf.js
  package.json
Labels: bug, code task

#1096 Fix support for adding and removing relationships in relationship-only fields in the submission
  src/app/core/shared/operators.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.html
  src/app/submission/edit/submission-edit.component.spec.ts
  src/app/submission/edit/submission-edit.component.ts
  src/app/submission/submit/submission-submit.component.spec.ts
  src/app/submission/submit/submission-submit.component.ts
Labels: bug, component: configurable entities, component: submission, high priority

#1098 Minor updates to base and dspace theme for Testathon.
  src/app/+home-page/home-news/home-news.component.html
  src/app/footer/footer.component.html
  src/app/shared/lang-switch/lang-switch.component.spec.ts
  src/assets/i18n/ar.json5
  src/assets/i18n/cs.json5
  src/assets/i18n/de.json5
  src/assets/i18n/en.json5
  src/assets/i18n/es.json5
  src/assets/i18n/fi.json5
  src/assets/i18n/fr.json5
  src/assets/i18n/hu.json5
  src/assets/i18n/ja.json5
  src/assets/i18n/lv.json5
  src/assets/i18n/nl.json5
  src/assets/i18n/pl.json5
  src/assets/i18n/pt-BR.json5
  src/assets/i18n/pt-PT.json5
  src/assets/i18n/sw.json5
  src/assets/i18n/tr.json5
  src/themes/dspace/app/+home-page/home-news/home-news.component.html
Labels: 1 APPROVAL, code task, themes

#1099 Quick win: Allow html in license section of submission form
  src/app/submission/sections/license/section-license.component.html
Labels: bug, quick win

#1090 Update Docker Compose scripts to resync with DSpace/DSpace
  docker/cli.assetstore.yml
  docker/db.entities.yml
  docker/docker-compose-ci.yml
  docker/docker-compose-rest.yml
Labels: 1 APPROVAL, backend: Docker, configuration

#1088 update fi.json5
  src/assets/i18n/fi.json5
Labels: i18n / l10n, merge conflict

#1118 Fix visibility issue with collapsed navbar menu
  src/app/header-nav-wrapper/header-navbar-wrapper.component.scss
Labels: 1 APPROVAL, bug, high priority

#1104 Angular 10 upgrade test fixes
  src/app/+browse-by/+browse-by-switcher/browse-by-decorator.ts
  src/app/+browse-by/+browse-by-switcher/browse-by-switcher.component.spec.ts
  src/app/+browse-by/+browse-by-switcher/browse-by-switcher.component.ts
  src/app/+item-page/simple/item-types/shared/item-relationships-utils.ts
  src/app/core/cache/builders/build-decorators.ts
  src/app/core/cache/builders/link.service.spec.ts
  src/app/core/cache/builders/link.service.ts
  src/app/core/data/relationship.service.spec.ts
  src/app/core/data/relationship.service.ts
  src/app/core/shared/operators.ts
  src/app/shared/cookies/browser-klaro.service.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/relationship.effects.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/relationship.effects.ts
  src/app/shared/metadata-representation/metadata-representation-loader.component.spec.ts
  src/app/shared/metadata-representation/metadata-representation-loader.component.ts
  src/app/shared/metadata-representation/metadata-representation.decorator.ts
Labels: 1 APPROVAL, code task, e/10, low priority

#1137 Fix forgot password page
  src/app/core/data/eperson-registration.service.spec.ts
  src/app/core/data/eperson-registration.service.ts
  src/app/forgot-password/forgot-password-form/forgot-password-form.component.ts
Labels: 1 APPROVAL, authentication: password, bug, e/3, high priority, testathon
