Repository DSpace/dspace-angular, pull requests merged in 2021-12, with the labels that each got.

#1403 Upgrade to Angular 11
  .vscode/settings.json
  package.json
  src/app/app-routing.module.ts
  src/app/collection-page/collection-item-mapper/collection-item-mapper.component.html
  src/app/item-page/edit-item-page/item-collection-mapper/item-collection-mapper.component.html
  src/app/item-page/media-viewer/media-viewer-image/media-viewer-image.component.spec.ts
  src/app/item-page/media-viewer/media-viewer-video/media-viewer-video.component.spec.ts
  src/app/item-page/media-viewer/media-viewer.component.spec.ts
  src/app/item-page/simple/related-entities/tabbed-related-entities-search/tabbed-related-entities-search.component.html
  src/app/my-dspace-page/my-dspace-new-submission/my-dspace-new-external-dropdown/my-dspace-new-external-dropdown.component.spec.ts
  src/app/my-dspace-page/my-dspace-new-submission/my-dspace-new-submission-dropdown/my-dspace-new-submission-dropdown.component.spec.ts
  src/app/shared/bitstream-download-page/bitstream-download-page.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/dynamic-lookup-relation-modal.component.html
  src/app/shared/object-list/my-dspace-result-list-element/claimed-search-result/claimed-approved-search-result/claimed-approved-search-result-list-element.component.spec.ts
  src/app/shared/object-list/my-dspace-result-list-element/claimed-search-result/claimed-declined-search-result/claimed-declided-search-result-list-element.component.spec.ts
  src/app/shared/resource-policies/form/resource-policy-form.component.html
  src/app/shared/resource-policies/form/resource-policy-form.component.spec.ts
  src/modules/app/browser-app.module.ts
  yarn.lock
Labels: dependencies, high priority, code task

#1424 Fix minor modal UX issues
  src/app/shared/dso-selector/dso-selector/dso-selector.component.html
  src/styles/_global-styles.scss
Labels: bug, usability, 1 APPROVAL

#1425 BUGFIX: Load themed browse entry components
  src/app/shared/browse-by/browse-by.component.html
  src/app/shared/browse-by/browse-by.component.spec.ts
  src/app/shared/browse-by/browse-by.component.ts
Labels: bug, 1 APPROVAL

#1440 Add GitHub action to build Docker images and push to DockerHub
  .github/workflows/build.yml
  .github/workflows/docker.yml
  Dockerfile
  docker/README.md
  docker/docker-compose.yml
Labels: configuration, backend: Docker

#1441 Disable Docker image build action on forked repos & on non-maintenance branches
  .github/workflows/docker.yml
Labels: code task, backend: Docker

#1442 Cleanup our LICENSE file so GitHub can detect our BSD license
  LICENSE
  NOTICE
  README.md
Labels: code task

#1451 Fix SSR issue with submission after migrate to angular 11
  src/app/admin/admin-search-page/admin-search.module.ts
  src/app/admin/admin-workflow-page/admin-workflow.module.ts
  src/app/admin/admin.module.ts
  src/app/browse-by/browse-by.module.ts
  src/app/entity-groups/journal-entities/journal-entities.module.ts
  src/app/entity-groups/research-entities/research-entities.module.ts
  src/app/item-page/item-page.module.ts
  src/app/my-dspace-page/my-dspace-search.module.ts
  src/app/navbar/navbar.module.ts
  src/app/shared/shared.module.ts
  src/app/submission/submission.module.ts
Labels: bug, component: submission, high priority, 1 APPROVAL

#1449 Update Docker to use latest Solr 8
  docker/docker-compose-ci.yml
  docker/docker-compose-rest.yml
Labels: dependencies, backend: Docker

#1419 [CST-4882] The search loads indefinitely if the written query is invalid
  src/app/my-dspace-page/my-dspace-page.component.html
  src/app/my-dspace-page/my-dspace-page.component.ts
  src/app/my-dspace-page/my-dspace-results/my-dspace-results.component.html
  src/app/my-dspace-page/my-dspace-results/my-dspace-results.component.spec.ts
  src/app/my-dspace-page/my-dspace-results/my-dspace-results.component.ts
  src/app/search-page/search.component.ts
  src/app/shared/error/error.component.html
  src/app/shared/error/error.component.spec.ts
  src/app/shared/error/error.component.ts
  src/app/shared/search/search-filters/search-filter/search-filter.component.ts
  src/app/shared/search/search-results/search-results.component.html
  src/app/shared/search/search-results/search-results.component.spec.ts
  src/app/shared/search/search-results/search-results.component.ts
  src/assets/i18n/en.json5
Labels: bug, component: Discovery, high priority, 1 APPROVAL

#1455 German language syntax fix, add trailing quote
  src/assets/i18n/de.json5
Labels: bug, i18n / l10n, 1 APPROVAL

#1448 Updated Mirador dependencies.
  package.json
  yarn.lock
Labels: bug, high priority, 1 APPROVAL, integration: IIIF

#1457 Update legacy relative links to angular 11 format
  src/app/shared/resource-policies/resource-policies.component.ts
Labels: bug, high priority, authorization, 1 APPROVAL

#1458 Handling very long strings for metadata and file names
  src/app/breadcrumbs/breadcrumbs.component.html
  src/app/breadcrumbs/breadcrumbs.component.scss
  src/app/breadcrumbs/breadcrumbs.component.spec.ts
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal-issue/journal-issue-search-result-list-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal-volume/journal-volume-search-result-list-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal/journal-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/project/project-search-result-list-element.component.html
  src/app/item-page/edit-item-page/item-bitstreams/item-edit-bitstream/item-edit-bitstream.component.html
  src/app/item-page/edit-item-page/item-metadata/edit-in-place-field/edit-in-place-field.component.html
  src/app/item-page/field-components/metadata-uri-values/metadata-uri-values.component.html
  src/app/item-page/field-components/metadata-values/metadata-values.component.html
  src/app/shared/file-download-link/file-download-link.component.html
  src/app/shared/object-list/metadata-representation-list-element/plain-text/plain-text-metadata-list-element.component.html
  src/app/shared/object-list/search-result-list-element/item-search-result/item-types/item/item-search-result-list-element.component.html
  src/app/shared/truncatable/truncatable-part/truncatable-part.component.html
  src/styles/_custom_variables.scss
  src/styles/_global-styles.scss
Labels: bug, usability, high priority, 1 APPROVAL, e/4, component: Item

#1459 Fix to collection selection window not loading successfully.
  src/app/shared/collection-dropdown/collection-dropdown.component.html
  src/app/shared/collection-dropdown/collection-dropdown.component.ts
Labels: bug, 1 APPROVAL

#1417 Upload files - Edit bitstream (improvements and bug fixes)
  src/app/submission/sections/upload/file/edit/section-upload-file-edit.component.html
  src/app/submission/sections/upload/file/edit/section-upload-file-edit.component.spec.ts
  src/app/submission/sections/upload/file/edit/section-upload-file-edit.component.ts
  src/app/submission/sections/upload/file/section-upload-file.component.html
  src/app/submission/sections/upload/file/section-upload-file.component.scss
  src/app/submission/sections/upload/file/section-upload-file.component.spec.ts
  src/app/submission/sections/upload/file/section-upload-file.component.ts
Labels: bug, high priority, 1 APPROVAL

#1437 Runtime configuration via YAML (Ensure UI config changes don't require a rebuild)
  .gitignore
  README.md
  angular.json
  config/.gitignore
  config/config.example.yml
  config/config.yml
  cypress/.gitignore
  docs/Configuration.md
  mock-nodemon.json
  nodemon.json
  package.json
  scripts/env-to-yaml.ts
  scripts/serve.ts
  scripts/set-env.ts
  scripts/set-mock-env.ts
  scripts/test-rest.ts
  server.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/community-page/edit-community-page/community-authorizations/community-authorizations.component.ts
  src/app/core/data/request.models.ts
  src/app/core/shared/hal-endpoint.service.spec.ts
  src/app/item-page/simple/item-types/shared/item.component.ts
  src/app/root/root.component.ts
  src/app/shared/notifications/notification/notification.component.spec.ts
  src/app/shared/notifications/notifications.service.spec.ts
  src/app/shared/resource-policies/form/resource-policy-form.component.spec.ts
  src/app/shared/theme-support/theme.effects.ts
  src/assets/.gitignore
  src/config/app-config.interface.ts
  src/config/config.server.ts
  src/config/config.util.spec.ts
  src/config/config.util.ts
  src/config/default-app-config.ts
  src/environments/environment.production.ts
  src/environments/environment.template.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
  src/main.browser.ts
  src/main.ts
  src/modules/app/browser-app.module.ts
  src/modules/app/server-app.module.ts
  tslint.json
  webpack/webpack.browser.ts
  yarn.lock
Labels: high priority, new feature, configuration
