Repository DSpace/dspace-angular, pull requests merged in 2022-07, with the labels that each got.

#1717 Cleanup descriptions in comments of example config to clarify "ui" and "rest" sections
  config/config.example.yml
Labels: bug, configuration, 1 APPROVAL

#1689 New french translations for some parameters.
  src/assets/i18n/en.json5
  src/assets/i18n/fr.json5
Labels: i18n / l10n

#1709 Filter webpack warnings
  src/app/register-page/register-email/themed-register-email.component.ts
  src/app/register-page/register-page-routing.module.ts
  src/app/register-page/register-page.module.ts
  webpack/webpack.common.ts
Labels: bug, quick win, code task, 1 APPROVAL

#1735 fixed minor typo in German translation
  src/assets/i18n/de.json5
Labels: i18n / l10n, 1 APPROVAL

#1708 Make label and error messages for license-step accept-checkbox translatable
  src/app/submission/sections/license/section-license.component.ts
  src/app/submission/sections/license/section-license.model.ts
  src/assets/i18n/en.json5
  src/assets/i18n/es.json5
Labels: bug, i18n / l10n, component: submission, 1 APPROVAL
