Repository DSpace/dspace-angular, pull requests merged in 2022-06, with the labels that each got.

#1642 [Issue 145] Support base path
  package.json
  scripts/base-href.ts
  server.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/auth/auth.service.spec.ts
  src/app/core/auth/auth.service.ts
  src/app/core/locale/locale.service.ts
  src/app/core/reload/reload.guard.spec.ts
  src/app/core/reload/reload.guard.ts
  src/app/page-internal-server-error/page-internal-server-error.component.html
  src/app/shared/menu/menu-item/link-menu-item.component.spec.ts
  src/app/shared/menu/menu-item/link-menu-item.component.ts
  src/app/shared/notifications/notification/notification.component.spec.ts
  src/index.csr.html
  src/styles/_bootstrap_variables.scss
Labels: bug, configuration, 1 APPROVAL, medium priority

#1666 Fix for missing comma in json files
  scripts/sync-i18n-files.ts
  src/assets/i18n/lv.json5
Labels: bug, i18n / l10n, e/1

#1637 Add admin panel for actuator information
  package.json
  server.ts
  src/app/app-routing-paths.ts
  src/app/app-routing.module.ts
  src/app/health-page/health-info/health-info-component/health-info-component.component.html
  src/app/health-page/health-info/health-info-component/health-info-component.component.scss
  src/app/health-page/health-info/health-info-component/health-info-component.component.spec.ts
  src/app/health-page/health-info/health-info-component/health-info-component.component.ts
  src/app/health-page/health-info/health-info.component.html
  src/app/health-page/health-info/health-info.component.scss
  src/app/health-page/health-info/health-info.component.spec.ts
  src/app/health-page/health-info/health-info.component.ts
  src/app/health-page/health-page.component.html
  src/app/health-page/health-page.component.scss
  src/app/health-page/health-page.component.spec.ts
  src/app/health-page/health-page.component.ts
  src/app/health-page/health-page.module.ts
  src/app/health-page/health-page.routing.module.ts
  src/app/health-page/health-panel/health-component/health-component.component.html
  src/app/health-page/health-panel/health-component/health-component.component.scss
  src/app/health-page/health-panel/health-component/health-component.component.spec.ts
  src/app/health-page/health-panel/health-component/health-component.component.ts
  src/app/health-page/health-panel/health-panel.component.html
  src/app/health-page/health-panel/health-panel.component.scss
  src/app/health-page/health-panel/health-panel.component.spec.ts
  src/app/health-page/health-panel/health-panel.component.ts
  src/app/health-page/health-panel/health-status/health-status.component.html
  src/app/health-page/health-panel/health-status/health-status.component.scss
  src/app/health-page/health-panel/health-status/health-status.component.spec.ts
  src/app/health-page/health-panel/health-status/health-status.component.ts
  src/app/health-page/health.service.ts
  src/app/health-page/models/health-component.model.ts
  src/app/menu.resolver.ts
  src/app/shared/mocks/health-endpoint.mocks.ts
  src/assets/i18n/en.json5
  src/config/actuators.config.ts
  src/config/app-config.interface.ts
  src/config/default-app-config.ts
  src/environments/environment.test.ts
  yarn.lock
Labels: high priority, new feature

#1633 Sherpa romeo integration (Angular)
  src/app/core/submission/models/sherpa-policies-details.model.ts
  src/app/core/submission/models/workspaceitem-section-sherpa-policies.model.ts
  src/app/core/submission/models/workspaceitem-sections.model.ts
  src/app/shared/mocks/section-sherpa-policies.service.mock.ts
  src/app/shared/testing/sections-service.stub.ts
  src/app/submission/objects/submission-objects.effects.ts
  src/app/submission/sections/container/section-container.component.html
  src/app/submission/sections/container/section-container.component.scss
  src/app/submission/sections/sections-type.ts
  src/app/submission/sections/sections.directive.ts
  src/app/submission/sections/sections.service.ts
  src/app/submission/sections/sherpa-policies/content-accordion/content-accordion.component.html
  src/app/submission/sections/sherpa-policies/content-accordion/content-accordion.component.scss
  src/app/submission/sections/sherpa-policies/content-accordion/content-accordion.component.spec.ts
  src/app/submission/sections/sherpa-policies/content-accordion/content-accordion.component.ts
  src/app/submission/sections/sherpa-policies/metadata-information/metadata-information.component.html
  src/app/submission/sections/sherpa-policies/metadata-information/metadata-information.component.scss
  src/app/submission/sections/sherpa-policies/metadata-information/metadata-information.component.spec.ts
  src/app/submission/sections/sherpa-policies/metadata-information/metadata-information.component.ts
  src/app/submission/sections/sherpa-policies/publication-information/publication-information.component.html
  src/app/submission/sections/sherpa-policies/publication-information/publication-information.component.scss
  src/app/submission/sections/sherpa-policies/publication-information/publication-information.component.spec.ts
  src/app/submission/sections/sherpa-policies/publication-information/publication-information.component.ts
  src/app/submission/sections/sherpa-policies/publisher-policy/publisher-policy.component.html
  src/app/submission/sections/sherpa-policies/publisher-policy/publisher-policy.component.scss
  src/app/submission/sections/sherpa-policies/publisher-policy/publisher-policy.component.spec.ts
  src/app/submission/sections/sherpa-policies/publisher-policy/publisher-policy.component.ts
  src/app/submission/sections/sherpa-policies/section-sherpa-policies.component.html
  src/app/submission/sections/sherpa-policies/section-sherpa-policies.component.scss
  src/app/submission/sections/sherpa-policies/section-sherpa-policies.component.spec.ts
  src/app/submission/sections/sherpa-policies/section-sherpa-policies.component.ts
  src/app/submission/submission.module.ts
  src/assets/i18n/en.json5
Labels: component: submission, new feature, medium priority

#1617 Researcher profile
  package.json
  src/app/core/breadcrumbs/dso-name.service.spec.ts
  src/app/core/breadcrumbs/dso-name.service.ts
  src/app/core/core.module.ts
  src/app/core/data/data.service.ts
  src/app/core/data/feature-authorization/authorization-data.service.ts
  src/app/core/data/feature-authorization/feature-id.ts
  src/app/core/profile/model/researcher-profile.model.ts
  src/app/core/profile/model/researcher-profile.resource-type.ts
  src/app/core/profile/researcher-profile.service.spec.ts
  src/app/core/profile/researcher-profile.service.ts
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/person/person-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/person/person-search-result-list-element.component.ts
  src/app/entity-groups/research-entities/item-pages/person/person.component.html
  src/app/entity-groups/research-entities/item-pages/person/person.component.spec.ts
  src/app/entity-groups/research-entities/item-pages/person/person.component.ts
  src/app/item-page/simple/item-page.component.ts
  src/app/item-page/simple/item-types/shared/item.component.spec.ts
  src/app/profile-page/profile-claim-item-modal/profile-claim-item-modal.component.html
  src/app/profile-page/profile-claim-item-modal/profile-claim-item-modal.component.spec.ts
  src/app/profile-page/profile-claim-item-modal/profile-claim-item-modal.component.ts
  src/app/profile-page/profile-claim/profile-claim.service.spec.ts
  src/app/profile-page/profile-claim/profile-claim.service.ts
  src/app/profile-page/profile-page-researcher-form/profile-page-researcher-form.component.html
  src/app/profile-page/profile-page-researcher-form/profile-page-researcher-form.component.spec.ts
  src/app/profile-page/profile-page-researcher-form/profile-page-researcher-form.component.ts
  src/app/profile-page/profile-page-security-form/profile-page-security-form.component.html
  src/app/profile-page/profile-page.component.html
  src/app/profile-page/profile-page.component.spec.ts
  src/app/profile-page/profile-page.component.ts
  src/app/profile-page/profile-page.module.ts
  src/app/shared/dso-page/person-page-claim-button/person-page-claim-button.component.html
  src/app/shared/dso-page/person-page-claim-button/person-page-claim-button.component.scss
  src/app/shared/dso-page/person-page-claim-button/person-page-claim-button.component.spec.ts
  src/app/shared/dso-page/person-page-claim-button/person-page-claim-button.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/en.json5
  src/styles/_global-styles.scss
  src/styles/base-theme.scss
  src/themes/custom/styles/theme.scss
  src/themes/dspace/styles/theme.scss
  yarn.lock
Labels: high priority, new feature, integration: ORCID

#1684 added missing German translations
  src/assets/i18n/de.json5
Labels: bug, i18n / l10n

#1619 TruncatableComponent usability improvement
  src/app/admin/admin-search-page/admin-search-results/admin-search-result-grid-element/item-search-result/item-admin-search-result-grid-element.component.spec.ts
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/org-unit/org-unit-search-result-list-element.component.html
  src/app/shared/object-grid/search-result-grid-element/item-search-result/item/item-search-result-grid-element.component.html
  src/app/shared/object-list/sidebar-search-list-element/sidebar-search-list-element.component.html
  src/app/shared/truncatable/truncatable-part/truncatable-part.component.html
  src/app/shared/truncatable/truncatable-part/truncatable-part.component.scss
  src/app/shared/truncatable/truncatable-part/truncatable-part.component.spec.ts
  src/app/shared/truncatable/truncatable-part/truncatable-part.component.ts
  src/app/shared/truncatable/truncatable.component.html
  src/app/shared/truncatable/truncatable.component.spec.ts
  src/app/shared/truncatable/truncatable.component.ts
  src/assets/i18n/en.json5
Labels: usability, high priority

#1685 update fi.json
  src/assets/i18n/fi.json5
Labels: i18n / l10n, 1 APPROVAL

#1692 Fix continuous integration e2e backend failures
  docker/db.entities.yml
  docker/docker-compose-ci.yml
Labels: bug, work in progress, high priority, backend: Docker

#1688 Truncatable toggle: spacing between icon & label as margin instead of whitespace
  src/app/shared/truncatable/truncatable-part/truncatable-part.component.html
Labels: bug, quick win, 1 APPROVAL

#1624 Feature: Entity / relationship versioning
  src/app/app.component.ts
  src/app/entity-groups/journal-entities/item-pages/journal-issue/journal-issue.component.html
  src/app/entity-groups/journal-entities/item-pages/journal-issue/journal-issue.component.ts
  src/app/entity-groups/journal-entities/item-pages/journal-volume/journal-volume.component.html
  src/app/entity-groups/journal-entities/item-pages/journal-volume/journal-volume.component.ts
  src/app/entity-groups/journal-entities/item-pages/journal/journal.component.html
  src/app/entity-groups/journal-entities/item-pages/journal/journal.component.spec.ts
  src/app/entity-groups/journal-entities/item-pages/journal/journal.component.ts
  src/app/entity-groups/research-entities/item-pages/org-unit/org-unit.component.html
  src/app/entity-groups/research-entities/item-pages/org-unit/org-unit.component.ts
  src/app/entity-groups/research-entities/item-pages/person/person.component.html
  src/app/entity-groups/research-entities/item-pages/person/person.component.ts
  src/app/entity-groups/research-entities/item-pages/project/project.component.html
  src/app/entity-groups/research-entities/item-pages/project/project.component.ts
  src/app/item-page/simple/item-types/publication/publication.component.html
  src/app/item-page/simple/item-types/publication/publication.component.spec.ts
  src/app/item-page/simple/item-types/publication/publication.component.ts
  src/app/item-page/simple/item-types/shared/item.component.spec.ts
  src/app/item-page/simple/item-types/versioned-item/versioned-item.component.ts
  src/app/shared/interfaces/modal-before-dismiss.interface.ts
  src/app/shared/item/item-versions/item-versions-summary-modal/item-versions-summary-modal.component.html
  src/app/shared/item/item-versions/item-versions-summary-modal/item-versions-summary-modal.component.ts
  src/app/shared/item/item-versions/item-versions.component.ts
  src/assets/i18n/en.json5
Labels: component: configurable entities, component: versioning, high priority, merge conflict

#1630 Fixes search passthrough to Mirador
  src/app/item-page/simple/item-types/publication/publication.component.spec.ts
  src/app/item-page/simple/item-types/shared/item-iiif-utils.ts
  src/app/item-page/simple/item-types/shared/item.component.spec.ts
  src/app/item-page/simple/item-types/untyped-item/untyped-item.component.spec.ts
Labels: bug, 1 APPROVAL, integration: IIIF

#1676 Fixes Collection Mapper by ensuring UI sends a valid sort option
  src/app/core/pagination/pagination.service.spec.ts
  src/app/core/pagination/pagination.service.ts
Labels: bug, high priority, 1 APPROVAL, component: Item

#1691 fix for filter suggestion issue and bitstream description issue
  src/app/item-page/edit-item-page/item-bitstreams/item-bitstreams.component.scss
  src/app/item-page/edit-item-page/item-bitstreams/item-edit-bitstream/item-edit-bitstream.component.html
  src/app/shared/input-suggestions/filter-suggestions/filter-input-suggestions.component.html
  src/app/shared/input-suggestions/filter-suggestions/filter-input-suggestions.component.spec.ts
  src/app/shared/input-suggestions/filter-suggestions/filter-input-suggestions.component.ts
  src/app/shared/input-suggestions/input-suggestions.model.ts
  src/app/shared/search/search-filters/search-filter/search-authority-filter/search-authority-filter.component.html
  src/app/shared/search/search-filters/search-filter/search-facet-filter-options/search-facet-option/search-facet-option.component.html
  src/app/shared/search/search-filters/search-filter/search-facet-filter/search-facet-filter.component.ts
  src/app/shared/search/search.utils.spec.ts
  src/app/shared/search/search.utils.ts
Labels: bug, 1 APPROVAL

#1698 Submission item/bitstream access conditions fixes
  src/app/submission/sections/accesses/section-accesses.component.spec.ts
  src/app/submission/sections/accesses/section-accesses.component.ts
  src/app/submission/sections/upload/file/edit/section-upload-file-edit.component.spec.ts
  src/app/submission/sections/upload/file/edit/section-upload-file-edit.component.ts
  src/app/submission/submission.module.ts
Labels: bug, high priority, 1 APPROVAL

#1701 added missing German translations; fixed typos
  src/assets/i18n/de.json5
Labels: i18n / l10n

#1707 Fix curation tasks started from the edit community or collection page
  src/app/curation-form/curation-form.component.spec.ts
  src/app/curation-form/curation-form.component.ts
  src/app/shared/handle.service.spec.ts
  src/app/shared/handle.service.ts
  src/assets/i18n/en.json5
Labels: bug, high priority, tools: curation-tasks
