Repository DSpace/dspace-angular, pull requests merged in 2022-11, with the labels that each got.

#1947 Test cases of date.util.spec.ts fixed
  src/app/shared/date.util.spec.ts
Labels: bug, 1 APPROVAL, testing framework

#1945 Fix Health section labels
  src/assets/i18n/en.json5
  src/assets/i18n/es.json5
  src/assets/i18n/hi.json5
  src/assets/i18n/kk.json5
  src/assets/i18n/pt-BR.json5
Labels: i18n / l10n, 1 APPROVAL

#1934 DS-1905: fixes route function to match default value of websvc.opensearch.svccontext
  src/app/shared/rss-feed/rss.component.spec.ts
  src/app/shared/rss-feed/rss.component.ts
Labels: bug, 1 APPROVAL, integration: syndication feed

#1948 Update to the latest version of all GitHub actions
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: code task

#1898 E2E test stabilization, and upgrade to latest Cypress v9 and axe-core
  cypress/integration/my-dspace.spec.ts
  cypress/integration/submission.spec.ts
  cypress/support/commands.ts
  package.json
  yarn.lock
Labels: bug, 1 APPROVAL, testing framework

#1927 Turn on no-unused-imports rule and remove all unused imports
  .eslintrc.json
  src/app/admin/admin-import-metadata-page/metadata-import-page.component.ts
  src/app/admin/admin-registries/bitstream-formats/bitstream-formats.component.ts
  src/app/admin/admin-registries/metadata-registry/metadata-registry.component.spec.ts
  src/app/admin/admin-registries/metadata-schema/metadata-schema.component.spec.ts
  src/app/admin/admin-sidebar/admin-sidebar.component.spec.ts
  src/app/app.component.ts
  src/app/bitstream-page/legacy-bitstream-url.resolver.spec.ts
  src/app/browse-by/browse-by-guard.spec.ts
  src/app/collection-page/collection-item-mapper/collection-item-mapper.component.spec.ts
  src/app/collection-page/edit-collection-page/collection-source/collection-source.component.ts
  src/app/community-page/sub-collection-list/community-page-sub-collection-list.component.spec.ts
  src/app/community-page/sub-community-list/community-page-sub-community-list.component.spec.ts
  src/app/core/auth/selectors.ts
  src/app/core/shared/hal-endpoint.service.spec.ts
  src/app/core/shared/search/search.service.ts
  src/app/correlation-id/correlation-id.service.spec.ts
  src/app/curation-form/curation-form.component.ts
  src/app/home-page/top-level-community-list/top-level-community-list.component.spec.ts
  src/app/item-page/edit-item-page/item-authorizations/item-authorizations.component.spec.ts
  src/app/item-page/edit-item-page/item-bitstreams/item-edit-bitstream-bundle/paginated-drag-and-drop-bitstream-list/paginated-drag-and-drop-bitstream-list.component.spec.ts
  src/app/item-page/full/field-components/file-section/full-file-section.component.spec.ts
  src/app/item-page/simple/item-types/shared/item.component.spec.ts
  src/app/my-dspace-page/my-dspace-configuration.service.spec.ts
  src/app/process-page/detail/process-detail.component.spec.ts
  src/app/register-page/registration.guard.spec.ts
  src/app/shared/comcol/comcol-forms/delete-comcol-page/delete-comcol-page.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-type-bind-relation.service.spec.ts
  src/app/shared/interfaces/modal-before-dismiss.interface.ts
  src/app/shared/menu/menu-item/link-menu-item.component.ts
  src/app/shared/menu/menu-item/text-menu-item.component.ts
  src/app/shared/mydspace-actions/claimed-task/approve/claimed-task-actions-approve.component.spec.ts
  src/app/shared/object-collection/shared/listable-object/listable-object.decorator.spec.ts
  src/app/shared/object-list/sidebar-search-list-element/sidebar-search-list-element.component.spec.ts
  src/app/shared/pagination-drag-and-drop/abstract-paginated-drag-and-drop-list.component.spec.ts
  src/app/shared/pagination/pagination.component.spec.ts
  src/app/shared/search/search-labels/search-label/search-label.component.spec.ts
  src/app/shared/starts-with/date/starts-with-date.component.spec.ts
  src/app/shared/starts-with/text/starts-with-text.component.spec.ts
  src/app/shared/testing/group-mock.ts
  src/app/submission/import-external/import-external-collection/submission-import-external-collection.component.spec.ts
  src/app/submission/submit/submission-submit.component.spec.ts
Labels: code task, 1 APPROVAL

#1965 Update el.json5
  src/assets/i18n/el.json5
Labels: i18n / l10n, 1 APPROVAL
