Repository DSpace/dspace-angular, pull requests merged in 2023-05, with the labels that each got.

#2220 Fixed mobile navbar not expanding & use same css variable for all header icons
  src/app/header-nav-wrapper/header-navbar-wrapper.component.scss
  src/app/header-nav-wrapper/themed-header-navbar-wrapper.component.scss
  src/app/header/header.component.scss
  src/app/search-navbar/search-navbar.component.scss
  src/app/shared/auth-nav-menu/auth-nav-menu.component.html
  src/app/shared/auth-nav-menu/auth-nav-menu.component.scss
  src/app/shared/auth-nav-menu/auth-nav-menu.component.spec.ts
  src/themes/dspace/app/header-nav-wrapper/header-navbar-wrapper.component.ts
  src/themes/dspace/app/header/header.component.html
  src/themes/dspace/app/header/header.component.scss
  src/themes/dspace/app/navbar/navbar.component.scss
Labels: bug, themes, 1 APPROVAL

#2210 Vietnamese translation!
  src/assets/i18n/vi.json5
Labels: i18n / l10n, 1 APPROVAL

#2236 Enable Vietnamese language pack
  config/config.example.yml
  src/config/default-app-config.ts
Labels: i18n / l10n, 1 APPROVAL

#2196 Replace in-place links with buttons
  src/app/community-list-page/community-list/community-list.component.html
  src/app/community-list-page/community-list/community-list.component.spec.ts
  src/app/item-page/simple/field-components/file-section/file-section.component.html
  src/app/item-page/simple/metadata-representation-list/metadata-representation-list.component.html
  src/app/item-page/simple/related-items/related-items.component.html
  src/app/search-navbar/search-navbar.component.html
  src/app/search-navbar/search-navbar.component.scss
  src/assets/i18n/en.json5
  src/styles/_global-styles.scss
Labels: bug, accessibility, 1 APPROVAL

#2229 Enable line breaks in deposit license during submission.
  src/app/submission/sections/license/section-license.component.html
Labels: bug, component: submission, 1 APPROVAL

#2241 View mode switch accessibility
  src/app/shared/view-mode-switch/view-mode-switch.component.html
  src/app/shared/view-mode-switch/view-mode-switch.component.spec.ts
Labels: accessibility, 1 APPROVAL

#2217 Parameter box, shown or not
  src/app/process-page/form/process-parameters/process-parameters.component.html
  src/app/process-page/form/process-parameters/process-parameters.component.spec.ts
Labels: bug, 1 APPROVAL, tools:processes

#2239 Fixed community's sub-communities and collections sort
  src/app/community-page/sub-collection-list/community-page-sub-collection-list.component.ts
  src/app/community-page/sub-community-list/community-page-sub-community-list.component.ts
Labels: bug, usability, 1 APPROVAL, medium priority, component: Community

#1951 Italian language
  config/config.example.yml
  src/assets/i18n/it.json5
  src/config/default-app-config.ts
Labels: i18n / l10n

#2249 [DURACOM-99] Tests fixed
  src/app/core/locale/locale.service.spec.ts
Labels: bug, 1 APPROVAL, testing framework

#2198 Fix #2197 authority key lookup
  src/app/shared/form/builder/ds-dynamic-form-ui/models/dynamic-vocabulary.component.ts
  src/app/shared/form/builder/models/form-field-metadata-value.model.ts
Labels: bug, identifiers: ORCID, 1 APPROVAL, integration: ORCID, component: authority control

#2227 Administer workflow actions
  src/app/admin/admin-workflow-page/admin-workflow-search-results/actions/workspace-item/workspace-item-admin-workflow-actions.component.spec.ts
  src/app/admin/admin-workflow-page/admin-workflow-search-results/actions/workspace-item/workspace-item-admin-workflow-actions.component.ts
  src/app/workflowitems-edit-page/workflow-item-action-page.component.ts
  src/app/workflowitems-edit-page/workflowitems-edit-page-routing-paths.ts
  src/app/workspaceitems-edit-page/workspaceitems-delete-page/themed-workspaceitems-delete-page.component.ts
  src/app/workspaceitems-edit-page/workspaceitems-delete-page/workspaceitems-delete-page.component.html
  src/app/workspaceitems-edit-page/workspaceitems-delete-page/workspaceitems-delete-page.component.scss
  src/app/workspaceitems-edit-page/workspaceitems-delete-page/workspaceitems-delete-page.component.spec.ts
  src/app/workspaceitems-edit-page/workspaceitems-delete-page/workspaceitems-delete-page.component.ts
  src/app/workspaceitems-edit-page/workspaceitems-edit-page-routing.module.ts
  src/app/workspaceitems-edit-page/workspaceitems-edit-page.module.ts
  src/assets/i18n/en.json5
  src/themes/custom/app/workspace-items-delete-page/workspace-items-delete/workspace-items-delete.component.html
  src/themes/custom/app/workspace-items-delete-page/workspace-items-delete/workspace-items-delete.component.scss
  src/themes/custom/app/workspace-items-delete-page/workspace-items-delete/workspace-items-delete.component.ts
  src/themes/custom/lazy-theme.module.ts
Labels: bug, component: workflow, component: administrative tools

#2199 #8636 Request a Copy's "helpdesk" strategy requires authentication t…
  src/app/app-routing.module.ts
Labels: bug, 1 APPROVAL

#2257 Fix several specs/tests on `main`
  src/app/community-list-page/community-list/community-list.component.spec.ts
  src/app/workspaceitems-edit-page/workspaceitems-delete-page/workspaceitems-delete-page.component.spec.ts
Labels: 1 APPROVAL, testing framework

#2256 Fix test
  src/app/workspaceitems-edit-page/workspaceitems-delete-page/workspaceitems-delete-page.component.spec.ts
Labels: 1 APPROVAL, testing framework

#2235 Fixed `ngOnChanges` not working for themed components & decorator components + minor fixes
  src/app/bitstream-page/edit-bitstream-page/edit-bitstream-page.component.html
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal-issue/journal-issue-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal-volume/journal-volume-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal/journal-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-pages/journal-issue/journal-issue.component.html
  src/app/entity-groups/journal-entities/item-pages/journal-volume/journal-volume.component.html
  src/app/entity-groups/journal-entities/item-pages/journal/journal.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/org-unit/org-unit-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/person/person-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/project/project-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-pages/org-unit/org-unit.component.html
  src/app/entity-groups/research-entities/item-pages/person/person.component.html
  src/app/entity-groups/research-entities/item-pages/project/project.component.html
  src/app/entity-groups/research-entities/metadata-representations/org-unit/org-unit-item-metadata-list-element.component.html
  src/app/entity-groups/research-entities/metadata-representations/org-unit/org-unit-item-metadata-list-element.component.spec.ts
  src/app/entity-groups/research-entities/metadata-representations/person/person-item-metadata-list-element.component.html
  src/app/entity-groups/research-entities/metadata-representations/person/person-item-metadata-list-element.component.spec.ts
  src/app/entity-groups/research-entities/submission/item-list-elements/org-unit/org-unit-search-result-list-submission-element.component.html
  src/app/item-page/full/field-components/file-section/full-file-section.component.html
  src/app/item-page/simple/item-types/publication/publication.component.html
  src/app/item-page/simple/item-types/untyped-item/untyped-item.component.html
  src/app/shared/metadata-representation/metadata-representation-loader.component.ts
  src/app/shared/mydspace-actions/claimed-task/switcher/claimed-task-actions-loader.component.ts
  src/app/shared/object-collection/shared/listable-object/listable-object-component-loader.component.spec.ts
  src/app/shared/object-collection/shared/listable-object/listable-object-component-loader.component.ts
  src/app/shared/object-detail/my-dspace-result-detail-element/claimed-task-search-result/claimed-task-search-result-detail-element.component.ts
  src/app/shared/object-detail/my-dspace-result-detail-element/item-detail-preview/item-detail-preview.component.html
  src/app/shared/object-detail/my-dspace-result-detail-element/pool-search-result/pool-search-result-detail-element.component.ts
  src/app/shared/object-grid/collection-grid-element/collection-grid-element.component.html
  src/app/shared/object-grid/community-grid-element/community-grid-element.component.html
  src/app/shared/object-grid/search-result-grid-element/collection-search-result/collection-search-result-grid-element.component.html
  src/app/shared/object-grid/search-result-grid-element/community-search-result/community-search-result-grid-element.component.html
  src/app/shared/object-grid/search-result-grid-element/item-search-result/item/item-search-result-grid-element.component.html
  src/app/shared/object-list/metadata-representation-list-element/browse-link/browse-link-metadata-list-element.component.html
  src/app/shared/object-list/metadata-representation-list-element/browse-link/browse-link-metadata-list-element.component.spec.ts
  src/app/shared/object-list/metadata-representation-list-element/browse-link/browse-link-metadata-list-element.component.ts
  src/app/shared/object-list/metadata-representation-list-element/item/item-metadata-list-element.component.html
  src/app/shared/object-list/metadata-representation-list-element/item/item-metadata-list-element.component.spec.ts
  src/app/shared/object-list/metadata-representation-list-element/item/item-metadata-representation-list-element.component.ts
  src/app/shared/object-list/metadata-representation-list-element/metadata-representation-list-element.component.spec.ts
  src/app/shared/object-list/metadata-representation-list-element/metadata-representation-list-element.component.ts
  src/app/shared/object-list/metadata-representation-list-element/plain-text/plain-text-metadata-list-element.component.html
  src/app/shared/object-list/metadata-representation-list-element/plain-text/plain-text-metadata-list-element.component.spec.ts
  src/app/shared/object-list/metadata-representation-list-element/plain-text/plain-text-metadata-list-element.component.ts
  src/app/shared/object-list/my-dspace-result-list-element/claimed-search-result/claimed-search-result-list-element.component.ts
  src/app/shared/object-list/my-dspace-result-list-element/pool-search-result/pool-search-result-list-element.component.ts
  src/app/shared/shared.module.ts
  src/app/shared/theme-support/themed.component.ts
  src/app/submission/sections/upload/file/section-upload-file.component.html
  src/app/thumbnail/themed-thumbnail.component.ts
  src/app/thumbnail/thumbnail.component.spec.ts
  src/app/thumbnail/thumbnail.component.ts
  src/themes/custom/app/thumbnail/thumbnail.component.html
  src/themes/custom/app/thumbnail/thumbnail.component.scss
  src/themes/custom/app/thumbnail/thumbnail.component.ts
  src/themes/custom/lazy-theme.module.ts
Labels: themes, 1 APPROVAL

#2260 Fix jasmine Matchers functions not properly indexing in IntelliJ
  tsconfig.json
Labels: configuration, testing framework

#2232 Correctly load choice ui form.other-information translation keys
  src/assets/i18n/ar.json5
  src/assets/i18n/bn.json5
  src/assets/i18n/ca.json5
  src/assets/i18n/cs.json5
  src/assets/i18n/de.json5
  src/assets/i18n/en.json5
  src/assets/i18n/es.json5
  src/assets/i18n/fi.json5
  src/assets/i18n/fr.json5
  src/assets/i18n/gd.json5
  src/assets/i18n/hu.json5
  src/assets/i18n/ja.json5
  src/assets/i18n/kk.json5
  src/assets/i18n/lv.json5
  src/assets/i18n/nl.json5
  src/assets/i18n/pl.json5
  src/assets/i18n/pt-BR.json5
  src/assets/i18n/pt-PT.json5
  src/assets/i18n/sv.json5
  src/assets/i18n/sw.json5
  src/assets/i18n/tr.json5
  src/assets/i18n/uk.json5
Labels: bug, i18n / l10n, 1 APPROVAL

#2266 German translation for "browse.startsWith"
  src/assets/i18n/de.json5
Labels: i18n / l10n, 1 APPROVAL

#2200 Missing search results statistics
  src/app/core/shared/search/search.service.ts
  src/app/search-page/search-page.module.ts
  src/app/search-page/search-tracker.component.html
  src/app/search-page/search-tracker.component.scss
  src/app/search-page/search-tracker.component.ts
  src/app/shared/search/search.component.spec.ts
  src/app/shared/search/search.component.ts
  src/app/statistics/angulartics/dspace-provider.ts
  src/app/statistics/statistics.service.ts
Labels: bug, component: Discovery, component: statistics, 1 APPROVAL

#2284 Fix issue where a colon in a uuid would get misinterpreted as a route param
  src/app/shared/menu/menu.service.spec.ts
  src/app/shared/menu/menu.service.ts
Labels: bug, component: SEO, 1 APPROVAL

#2135 Don't allow the date picker to exceed the maximum start or end date for an access option
  src/app/shared/mocks/submission.mock.ts
  src/app/submission/sections/upload/file/edit/section-upload-file-edit.component.ts
Labels: bug, component: submission, authorization, component: file upload
