Repository DSpace/dspace-angular, pull requests merged in 2023-11, with the labels that each got.

#2593 Fix "Submission input type date doesn't work properly once a value has been set"
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.component.ts
  src/app/shared/form/number-picker/number-picker.component.ts
Labels: bug, component: submission, 1 APPROVAL, port to dspace-7_x

#2603 Fix e2e tests by running in production mode & using a user-agent for statistics
  cypress/support/commands.ts
  package.json
Labels: bug, 1 APPROVAL, testing framework, port to dspace-7_x

#2364 Utility gap-* classes for flexbox
  src/styles/_global-styles.scss
  src/themes/dspace/app/header/header.component.html
  src/themes/dspace/app/header/header.component.scss
  src/themes/dspace/app/navbar/navbar.component.html
  src/themes/dspace/app/navbar/navbar.component.scss
Labels: bug, themes, 1 APPROVAL, low priority, port to dspace-7_x

#2590 fix(pt-BR.json5): fix and update the language file
  src/assets/i18n/pt-BR.json5
Labels: i18n / l10n, 1 APPROVAL, port to main

#2596 Fix cache issue when depositing a submission
  src/app/submission/objects/submission-objects.effects.ts
Labels: component: submission, high priority, 1 APPROVAL, port to dspace-7_x

#2595 Add UI nameSpace context path to Mirador viewer path
  src/app/item-page/mirador-viewer/mirador-viewer.component.ts
Labels: bug, 1 APPROVAL, integration: IIIF, port to dspace-7_x

#2602 Support for freetext values in submission for vocabulary controlled `onebox` and `tag` types
  src/app/shared/form/builder/ds-dynamic-form-ui/models/tag/dynamic-tag.component.ts
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.html
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.ts
  src/assets/i18n/en.json5
Labels: bug, component: submission, 1 APPROVAL, port to dspace-7_x

#2574 Support type-bind of elements based on repeatable list type-bound element (CHECKBOX_GROUP)
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-type-bind-relation.service.ts
Labels: bug, component: submission, 1 APPROVAL, port to dspace-7_x

#2594 Media viewer controls rendered behind DSpace header
  src/app/breadcrumbs/breadcrumbs.component.html
  src/app/breadcrumbs/breadcrumbs.component.scss
  src/app/header-nav-wrapper/header-navbar-wrapper.component.html
  src/app/header-nav-wrapper/header-navbar-wrapper.component.scss
  src/app/home-page/home-news/home-news.component.html
  src/app/home-page/home-news/home-news.component.scss
  src/app/navbar/navbar.component.scss
  src/app/root/root.component.html
  src/styles/_custom_variables.scss
  src/styles/_global-styles.scss
  src/themes/dspace/app/header-nav-wrapper/header-navbar-wrapper.component.html
  src/themes/dspace/app/header-nav-wrapper/header-navbar-wrapper.component.scss
  src/themes/dspace/app/header-nav-wrapper/header-navbar-wrapper.component.ts
  src/themes/dspace/app/home-page/home-news/home-news.component.html
  src/themes/dspace/app/home-page/home-news/home-news.component.scss
  src/themes/dspace/app/navbar/navbar.component.scss
Labels: bug, usability, high priority, 1 APPROVAL, component: Item, port to dspace-7_x

#2611 Communities & Collections tree browser updates - Replaced #2597
  src/app/community-list-page/community-list-service.ts
  src/app/community-list-page/community-list/community-list.component.html
  src/app/community-list-page/community-list/community-list.component.spec.ts
  src/app/community-list-page/community-list/community-list.component.ts
Labels: usability, component: Discovery, 1 APPROVAL, component: Community, port to dspace-7_x

#2607 Added skip to main content button
  src/app/info/feedback/feedback-form/feedback-form.component.html
  src/app/root/root.component.html
  src/app/root/root.component.scss
  src/app/root/root.component.ts
  src/assets/i18n/en.json5
  src/styles/_global-styles.scss
Labels: bug, accessibility, high priority, new feature, 1 APPROVAL, port to dspace-7_x

#2626 [Port dspace-7_x] Added skip to main content button
  src/app/info/feedback/feedback-form/feedback-form.component.html
  src/app/root/root.component.html
  src/app/root/root.component.scss
  src/app/root/root.component.ts
  src/assets/i18n/en.json5
  src/styles/_global-styles.scss
Labels: bug, accessibility, high priority, new feature, 1 APPROVAL

#2545 Fix "Edit Group" page always requests all member Subgroups & EPersons
  src/app/access-control/group-registry/group-form/group-form.component.ts
  src/app/access-control/group-registry/group-form/members-list/members-list.component.html
  src/app/access-control/group-registry/group-form/members-list/members-list.component.spec.ts
  src/app/access-control/group-registry/group-form/members-list/members-list.component.ts
  src/app/access-control/group-registry/group-form/subgroup-list/subgroups-list.component.html
  src/app/access-control/group-registry/group-form/subgroup-list/subgroups-list.component.spec.ts
  src/app/access-control/group-registry/group-form/subgroup-list/subgroups-list.component.ts
  src/app/access-control/group-registry/groups-registry.component.ts
  src/app/core/eperson/eperson-data.service.spec.ts
  src/app/core/eperson/eperson-data.service.ts
  src/app/core/eperson/group-data.service.spec.ts
  src/app/core/eperson/group-data.service.ts
  src/app/core/eperson/models/eperson-dto.model.ts
  src/app/workflowitems-edit-page/advanced-workflow-action/advanced-workflow-action-select-reviewer/reviewers-list/reviewers-list.component.spec.ts
  src/app/workflowitems-edit-page/advanced-workflow-action/advanced-workflow-action-select-reviewer/reviewers-list/reviewers-list.component.ts
  src/assets/i18n/en.json5
Labels: bug, high priority, authorization, port to dspace-7_x

#2620 Fix for repeatable date field labels
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.model.ts
  src/app/shared/form/builder/form-builder.service.spec.ts
Labels: bug, component: submission, 1 APPROVAL, port to dspace-7_x

#2629 [Port dspace-7_x] Fix for repeatable date field labels
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/date-picker/date-picker.model.ts
  src/app/shared/form/builder/form-builder.service.spec.ts
Labels: bug, component: submission, 1 APPROVAL

#2630 Fix handle redirect not working with custom nameSpace
  src/app/core/data/dso-redirect.service.spec.ts
  src/app/core/data/dso-redirect.service.ts
Labels: bug, component: Item, component: Community, component: Collection, claimed: Atmire, port to dspace-7_x

#2579 adding new access-status-list-element-badge css classes
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.html
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.scss
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.ts
Labels: bug, 1 APPROVAL, port to dspace-7_x

#2562 Fix match theme by handle with canonical prefix https://hdl.handle.net/ not working
  src/app/community-page/sub-collection-list/community-page-sub-collection-list.component.ts
  src/app/community-page/sub-community-list/community-page-sub-community-list.component.ts
  src/app/core/data/configuration-data.service.ts
  src/app/curation-form/curation-form.component.spec.ts
  src/app/curation-form/curation-form.component.ts
  src/app/root/root.component.ts
  src/app/shared/handle.service.spec.ts
  src/app/shared/handle.service.ts
  src/app/shared/mocks/theme-service.mock.ts
  src/app/shared/object-collection/shared/listable-object/listable-object.decorator.ts
  src/app/shared/testing/configuration-data.service.stub.ts
  src/app/shared/theme-support/theme.model.ts
  src/app/shared/theme-support/theme.service.spec.ts
  src/app/shared/theme-support/theme.service.ts
  src/app/shared/theme-support/themed.component.spec.ts
  src/config/app-config.interface.ts
  src/config/config.util.spec.ts
  src/config/config.util.ts
  src/config/default-app-config.ts
  src/config/theme.config.ts
  src/config/theme.model.spec.ts
  src/config/theme.model.ts
Labels: bug, high priority, themes, 1 APPROVAL, claimed: Atmire, port to dspace-7_x

#2632 Fixes "some item edit pages are accessible by anonymous users"
  src/app/item-page/edit-item-page/edit-item-page.routing.module.ts
  src/app/item-page/edit-item-page/item-page-access-control.guard.ts
  src/app/item-page/edit-item-page/item-page-curate.guard.ts
Labels: bug, high priority, authorization, 1 APPROVAL, ux, port to dspace-7_x

#2633 Edit-item view: random order of buttons in status tab
  src/app/item-page/edit-item-page/item-operation/itemOperation.model.ts
  src/app/item-page/edit-item-page/item-status/item-status.component.html
  src/app/item-page/edit-item-page/item-status/item-status.component.spec.ts
  src/app/item-page/edit-item-page/item-status/item-status.component.ts
Labels: bug, component: administrative tools, 1 APPROVAL, component: Item, port to dspace-7_x

#2610 Fixed menu not updating when a new sub section is added after rendering has already completed
  src/app/shared/menu/menu.component.spec.ts
  src/app/shared/menu/menu.component.ts
  src/app/shared/menu/menu.service.ts
Labels: bug, claimed: Atmire, port to dspace-7_x

#2639 [Port dspace-7_x] Fixed menu not updating when a new sub section is added after rendering has already completed
  src/app/shared/menu/menu.component.spec.ts
  src/app/shared/menu/menu.component.ts
  src/app/shared/menu/menu.service.ts
Labels: bug, claimed: Atmire

#2644 Setup the Docker GH Action for Matrix Building
  .github/workflows/docker.yml
Labels: code task, 1 APPROVAL, backend: Docker, port to dspace-7_x

#2648 Fix bug in Docker image build process which caused tags to have improper manifests in DockerHub
  .github/workflows/docker.yml
Labels: bug, code task, 1 APPROVAL, backend: Docker

#2650 Follow-up Docker image build fix. Fix directory structure for `latest-dist` digests
  .github/workflows/docker.yml
Labels: bug, code task, 1 APPROVAL, backend: Docker

#2649 GitHub Actions Updates: Redeploy Sandbox via Docker & Fix retry of Codecov upload
  .github/workflows/build.yml
  .github/workflows/codescan.yml
  .github/workflows/docker.yml
  .github/workflows/port_merged_pull_request.yml
  .github/workflows/pull_request_opened.yml
Labels: bug, code task, backend: Docker

#2658 Redeploy demo/sandbox more quickly by only waiting for AMD64 Docker image to complete
  .github/workflows/docker.yml
Labels: 1 APPROVAL, backend: Docker

#2655 [Port dspace-7_x] Port recent GitHub Action changes
  .github/workflows/build.yml
  .github/workflows/codescan.yml
  .github/workflows/docker.yml
  .github/workflows/port_merged_pull_request.yml
  .github/workflows/pull_request_opened.yml
Labels: code task, 1 APPROVAL, backend: Docker

#2652 Deselect all metadata fields when switching between metadata schemas in registry
  src/app/admin/admin-registries/metadata-schema/metadata-schema.component.ts
Labels: bug, component: administrative tools, 1 APPROVAL, medium priority, claimed: Atmire, port to dspace-7_x

#2666 [Docker] Refactor to simply use the reusable-docker-build.yml from DSpace/DSpace.
  .github/workflows/docker.yml
Labels: code task, 1 APPROVAL, backend: Docker
