Repository DSpace/dspace-angular, pull requests merged in 2023-04, with the labels that each got.

#2133 Fix missing hints and error messages for input-type `list` & `tag`
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.spec.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/list/dynamic-list-checkbox-group.model.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/list/dynamic-list-radio-group.model.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/list/dynamic-list.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/models/list/dynamic-list.component.ts
  src/app/shared/form/builder/form-builder.service.spec.ts
Labels: bug, usability, component: submission, high priority, 1 APPROVAL, claimed: Atmire

#2176 Small updates to french translations
  src/assets/i18n/fr.json5
Labels: i18n / l10n, 1 APPROVAL

#2137 Build & publish dspace/dspace-angular imgs with -dist suffix
  .github/workflows/docker.yml
  Dockerfile.dist
  docker/README.md
  docker/docker-compose-dist.yml
  docker/dspace-ui.json
Labels: 1 APPROVAL, backend: Docker

#2110 Added i18n ESLint support
  .editorconfig
  .eslintrc.json
  angular.json
  package.json
  src/assets/i18n/ar.json5
  src/assets/i18n/bn.json5
  src/assets/i18n/ca.json5
  src/assets/i18n/cs.json5
  src/assets/i18n/de.json5
  src/assets/i18n/el.json5
  src/assets/i18n/en.json5
  src/assets/i18n/es.json5
  src/assets/i18n/fi.json5
  src/assets/i18n/fr.json5
  src/assets/i18n/gd.json5
  src/assets/i18n/hi.json5
  src/assets/i18n/hu.json5
  src/assets/i18n/ja.json5
  src/assets/i18n/kk.json5
  src/assets/i18n/lv.json5
  src/assets/i18n/nl.json5
  src/assets/i18n/pl.json5
  src/assets/i18n/pt-BR.json5
  src/assets/i18n/pt-PT.json5
  src/assets/i18n/sv.json5
  src/assets/i18n/sw.json5
  src/assets/i18n/tr.json5
  src/assets/i18n/uk.json5
  yarn.lock
Labels: improvement, i18n / l10n

#2189 Minor docker / compose updates based on recent changes to backend
  Dockerfile
  docker/README.md
  docker/docker-compose-dist.yml
  docker/docker-compose-rest.yml
Labels: improvement, 1 APPROVAL, backend: Docker

#2184 DS-2077: removes external Google font
  src/main.browser.ts
Labels: bug, 1 APPROVAL

#2190 Fix Docker solr configset directories
  docker/docker-compose-rest.yml
Labels: bug, backend: Docker

#2162 DS-8668: adds check for HTTP 413 status code when importing an SAF file
  src/app/admin/admin-import-batch-page/batch-import-page.component.ts
  src/assets/i18n/en.json5
Labels: bug, tools: import, 1 APPROVAL

#2146 Fix #1702 - Move item collection with inheritPolicies support
  src/app/core/data/item-data.service.ts
  src/app/item-page/edit-item-page/item-move/item-move.component.spec.ts
  src/app/item-page/edit-item-page/item-move/item-move.component.ts
Labels: bug, 1 APPROVAL

#2186 Update es.json5
  src/assets/i18n/es.json5
Labels: i18n / l10n, 1 APPROVAL

#2193 Split Codecov GitHub action to separate job & add retries. Update other actions.
  .github/workflows/build.yml
  .github/workflows/issue_opened.yml
  .github/workflows/label_merge_conflicts.yml
Labels: code task, 1 APPROVAL, testing framework

#2194 Add missing export for ItemRequest module
  src/app/core/core.module.ts
Labels: bug, 1 APPROVAL

#2164 Fixed some themeable component default values not being overridable
  src/app/footer/themed-footer.component.ts
  src/app/header-nav-wrapper/themed-header-navbar-wrapper.component.ts
  src/app/home-page/themed-home-page.component.ts
  src/app/item-page/simple/metadata-representation-list/themed-metadata-representation-list.component.ts
  src/app/my-dspace-page/themed-my-dspace-page.component.ts
  src/app/search-page/themed-configuration-search-page.component.ts
  src/app/shared/collection-dropdown/themed-collection-dropdown.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/external-source-tab/themed-dynamic-lookup-relation-external-source-tab.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/relation-lookup-modal/search-tab/themed-dynamic-lookup-relation-search-tab.component.ts
  src/app/shared/loading/themed-loading.component.ts
  src/app/shared/object-list/my-dspace-result-list-element/item-list-preview/themed-item-list-preview.component.ts
  src/app/shared/object-list/themed-object-list.component.ts
  src/app/shared/search/search-results/themed-search-results.component.ts
  src/app/shared/search/search.component.ts
  src/app/shared/search/themed-search.component.ts
Labels: themes, 1 APPROVAL

#2187 Shibboleth page update after authentication
  src/app/core/auth/auth.actions.ts
  src/app/core/auth/auth.effects.spec.ts
  src/app/core/auth/auth.effects.ts
  src/app/core/auth/auth.reducer.spec.ts
  src/app/core/auth/auth.reducer.ts
  src/app/core/auth/auth.service.ts
  src/app/core/auth/selectors.ts
  src/app/shared/testing/auth-service.stub.ts
  src/modules/app/browser-init.service.ts
Labels: bug, authentication: Shibboleth, 1 APPROVAL

#2156 Made it possible to enable video viewer without also enabling image viewer
  src/app/item-page/media-viewer/media-viewer-image/media-viewer-image.component.ts
  src/app/item-page/media-viewer/media-viewer-video/media-viewer-video.component.html
  src/app/item-page/media-viewer/media-viewer-video/media-viewer-video.component.spec.ts
  src/app/item-page/media-viewer/media-viewer-video/media-viewer-video.component.ts
  src/app/item-page/media-viewer/media-viewer-video/themed-media-viewer-video.component.ts
  src/app/item-page/media-viewer/media-viewer.component.html
  src/app/item-page/media-viewer/media-viewer.component.spec.ts
  src/app/item-page/media-viewer/media-viewer.component.ts
  src/app/item-page/media-viewer/themed-media-viewer.component.ts
  src/app/item-page/simple/item-types/publication/publication.component.html
  src/app/item-page/simple/item-types/untyped-item/untyped-item.component.html
Labels: bug, configuration, 1 APPROVAL, medium priority, component: viewer
