Repository DSpace/dspace-angular, pull requests merged in 2023-07, with the labels that each got.

#2354 src/app: fix path to deny-request-copy component
  src/app/request-copy/deny-request-copy/themed-deny-request-copy.component.ts
Labels: bug, themes, 1 APPROVAL, port to main

#2355 src/app: fix path to deny-request-copy component
  src/app/request-copy/deny-request-copy/themed-deny-request-copy.component.ts
Labels: bug, themes, 1 APPROVAL

#2358 Update GitHub Actions for 7.x maintenance (for dspace-angular)
  .github/disabled-workflows/pull_request_opened.yml
  .github/workflows/codescan.yml
  .github/workflows/label_merge_conflicts.yml
  .github/workflows/pull_request_opened.yml
Labels: code task, 1 APPROVAL

#2359 GitHub Actions: Split Docker images into separate jobs to run in parallel. Enable 'latest' tag. (for dspace-angular)
  .github/workflows/docker.yml
Labels: code task, 1 APPROVAL, backend: Docker

#2369 Port recent GitHub Actions changes to dspace-7_x branch
  .github/disabled-workflows/pull_request_opened.yml
  .github/workflows/codescan.yml
  .github/workflows/docker.yml
  .github/workflows/label_merge_conflicts.yml
  .github/workflows/pull_request_opened.yml
Labels: code task, 1 APPROVAL

#2394 Replace all old docker "dspace-7_x" tags with "latest" on main
  Dockerfile.dist
  docker/README.md
  docker/cli.yml
  docker/docker-compose-ci.yml
  docker/docker-compose-dist.yml
  docker/docker-compose-rest.yml
  docker/docker-compose.yml
Labels: 1 APPROVAL, backend: Docker

#2406 Add GitHub action to automatically create a port PR (based on label) & minor bug fixes
  .github/workflows/label_merge_conflicts.yml
  .github/workflows/port_merged_pull_request.yml
Labels: code task, port to dspace-7_x
