Repository DSpace/dspace-angular, pull requests merged in 2025-05, with the labels that each got.

#4282 Fixed Missing Tags in Import Popup from External Sources - 4220
  src/assets/i18n/en.json5
Labels: bug, i18n / l10n, 1 APPROVAL, testathon, port to dspace-7_x, port to dspace-8_x

#4285 [Port dspace-8_x] Fixed Missing Tags in Import Popup from External Sources - 4220
  src/assets/i18n/en.json5
Labels: i18n / l10n, 1 APPROVAL

#4286 [Port dspace-7_x] Fixed Missing Tags in Import Popup from External Sources - 4220
  src/assets/i18n/en.json5
Labels: i18n / l10n, 1 APPROVAL

#4246 Reduce margins on input fields
  src/app/shared/form/builder/ds-dynamic-form-ui/ds-dynamic-form-control-container.component.scss
  src/app/shared/form/builder/ds-dynamic-form-ui/models/list/dynamic-list.component.html
  src/app/shared/form/builder/ds-dynamic-form-ui/models/list/dynamic-list.component.spec.ts
Labels: usability, component: submission, 1 APPROVAL

#4289 [DURACOM-326] fix possible issue on missing value for eperson patch
  src/app/core/eperson/eperson-data.service.spec.ts
  src/app/core/eperson/eperson-data.service.ts
  src/app/shared/testing/eperson.mock.ts
Labels: bug, authorization, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#4290 Removed observable function calls from template (part 2)
  src/app/access-control/epeople-registry/eperson-form/eperson-form.component.html
  src/app/access-control/epeople-registry/eperson-form/eperson-form.component.ts
  src/app/admin/admin-registries/metadata-schema/metadata-field-form/metadata-field-form.component.html
  src/app/admin/admin-registries/metadata-schema/metadata-field-form/metadata-field-form.component.ts
  src/app/home-page/home-news/home-news.component.html
  src/app/item-page/edit-item-page/item-authorizations/item-authorizations.component.html
  src/app/item-page/edit-item-page/item-authorizations/item-authorizations.component.spec.ts
  src/app/item-page/edit-item-page/item-authorizations/item-authorizations.component.ts
  src/app/item-page/orcid-page/orcid-auth/orcid-auth.component.html
  src/app/item-page/orcid-page/orcid-auth/orcid-auth.component.ts
  src/app/item-page/orcid-page/orcid-queue/orcid-queue.component.html
  src/app/item-page/orcid-page/orcid-queue/orcid-queue.component.ts
  src/app/navbar/navbar.component.html
  src/app/process-page/overview/process-overview.component.html
  src/app/process-page/overview/process-overview.component.ts
  src/app/profile-page/profile-page-researcher-form/profile-page-researcher-form.component.html
  src/app/profile-page/profile-page-researcher-form/profile-page-researcher-form.component.ts
  src/app/register-email-form/register-email-form.component.html
  src/app/register-email-form/register-email-form.component.ts
  src/app/shared/eperson-group-list/eperson-group-list.component.html
  src/app/shared/eperson-group-list/eperson-group-list.component.spec.ts
  src/app/shared/eperson-group-list/eperson-group-list.component.ts
  src/app/shared/host-window.service.ts
  src/app/shared/pagination/pagination.component.html
  src/app/shared/pagination/pagination.component.ts
  src/app/shared/resource-policies/create/resource-policy-create.component.html
  src/app/shared/theme-support/themed.component.ts
  src/app/submission/form/section-add/submission-form-section-add.component.html
  src/app/submission/form/section-add/submission-form-section-add.component.ts
  src/app/submission/form/submission-form.component.html
  src/app/submission/form/submission-form.component.spec.ts
  src/app/submission/form/submission-form.component.ts
  src/app/submission/sections/cc-license/submission-section-cc-licenses.component.html
  src/app/submission/sections/cc-license/submission-section-cc-licenses.component.ts
  src/app/submission/sections/identifiers/section-identifiers.component.html
  src/app/submission/sections/identifiers/section-identifiers.component.ts
  src/themes/custom/app/submission/form/submission-form.component.ts
Labels: bug, performance / caching, port to dspace-7_x, port to dspace-8_x

#4304 Fixed broken Pagination of People/Groups on Edit Resource Policy page
  src/app/shared/eperson-group-list/eperson-group-list.component.ts
Labels: bug, high priority, authorization

#4218 Fix: Improve footer responsiveness and download button on the full item page
  src/app/footer/footer.component.html
  src/app/footer/footer.component.scss
  src/app/item-page/full/field-components/file-section/full-file-section.component.html
  src/app/shared/file-download-link/file-download-link.component.html
  src/app/shared/file-download-link/file-download-link.component.scss
  src/app/shared/file-download-link/file-download-link.component.ts
  src/app/shared/file-download-link/themed-file-download-link.component.ts
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.html
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.scss
  src/app/thumbnail/thumbnail.component.html
  src/assets/i18n/en.json5
Labels: bug, usability, 1 APPROVAL, ux, testathon, port to dspace-8_x

#4288 Bitstream upload failure during the workflow editing process when impersonating an editor
  src/app/shared/upload/uploader/uploader-options.model.ts
  src/app/shared/upload/uploader/uploader.component.ts
  src/app/submission/form/submission-form.component.ts
Labels: bug, component: submission, component: workflow, authorization, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#4251 [Port dspace-8_x] Show restricted thumbnails to users with access rights
  src/app/item-page/media-viewer/media-viewer.component.html
  src/app/item-page/media-viewer/media-viewer.component.spec.ts
  src/app/thumbnail/thumbnail.component.html
  src/app/thumbnail/thumbnail.component.spec.ts
  src/app/thumbnail/thumbnail.component.ts
Labels: bug, authorization, testathon

#4311 Fixes wrong wiki reference on labels
  src/assets/i18n/it.json5
  src/assets/i18n/pt-PT.json5
Labels: i18n / l10n, 1 APPROVAL

#3513 Fix navbar wrapping on medium screens
  src/themes/dspace/app/header-nav-wrapper/header-navbar-wrapper.component.scss
  src/themes/dspace/app/header/header.component.html
  src/themes/dspace/app/navbar/navbar.component.html
Labels: bug, 1 APPROVAL, port to dspace-8_x

#4310 Fix layout of ORCID settings on profile page
  src/app/item-page/orcid-page/orcid-sync-settings/orcid-sync-settings.component.html
  src/app/item-page/orcid-page/orcid-sync-settings/orcid-sync-settings.component.scss
Labels: bug, integration: ORCID

#4315 Updates on the fr.json5
  src/assets/i18n/fr.json5
Labels: i18n / l10n, 1 APPROVAL

#3307 Made the labels in edit relationships tab unique
  src/app/entity-groups/journal-entities/item-pages/journal-issue/journal-issue.component.html
  src/app/entity-groups/journal-entities/item-pages/journal-volume/journal-volume.component.html
  src/app/entity-groups/journal-entities/item-pages/journal/journal.component.html
  src/app/entity-groups/research-entities/item-pages/org-unit/org-unit.component.html
  src/app/entity-groups/research-entities/item-pages/person/person.component.html
  src/app/entity-groups/research-entities/item-pages/project/project.component.html
  src/app/item-page/edit-item-page/item-relationships/edit-relationship-list/edit-relationship-list.component.ts
  src/app/item-page/simple/field-components/specific-field/author/item-page-author-field.component.ts
  src/app/item-page/simple/item-types/publication/publication.component.html
  src/app/item-page/simple/item-types/untyped-item/untyped-item.component.html
  src/app/shared/object-detail/my-dspace-result-detail-element/item-detail-preview/item-detail-preview.component.html
  src/assets/i18n/ar.json5
  src/assets/i18n/bn.json5
  src/assets/i18n/ca.json5
  src/assets/i18n/cs.json5
  src/assets/i18n/de.json5
  src/assets/i18n/el.json5
  src/assets/i18n/en.json5
  src/assets/i18n/es.json5
  src/assets/i18n/fi.json5
  src/assets/i18n/fr.json5
  src/assets/i18n/gd.json5
  src/assets/i18n/hi.json5
  src/assets/i18n/hu.json5
  src/assets/i18n/it.json5
  src/assets/i18n/ja.json5
  src/assets/i18n/kk.json5
  src/assets/i18n/lv.json5
  src/assets/i18n/nl.json5
  src/assets/i18n/pl.json5
  src/assets/i18n/pt-BR.json5
  src/assets/i18n/pt-PT.json5
  src/assets/i18n/sr-cyr.json5
  src/assets/i18n/sr-lat.json5
  src/assets/i18n/sv.json5
  src/assets/i18n/sw.json5
  src/assets/i18n/tr.json5
  src/assets/i18n/uk.json5
  src/assets/i18n/vi.json5
Labels: i18n / l10n, component: configurable entities

#4316 Add missing i18n labels, mostly for OpenAlex import of related Entities
  src/assets/i18n/en.json5
Labels: bug, i18n / l10n, 1 APPROVAL

#4324 Fix matomo SSR error on bitstream download page
  src/app/footer/footer.component.ts
  src/app/shared/cookies/orejime.service.ts
  src/app/statistics/matomo.service.spec.ts
  src/app/statistics/matomo.service.ts
Labels: bug, component: statistics, high priority, 1 APPROVAL

#4227 Remove `ssr.paths` configuration and replace with `ssr.excludePathPatterns` which excludes specific paths from SSR
  config/config.example.yml
  server.ts
  src/config/ssr-config.interface.ts
  src/environments/environment.production.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
Labels: component: SEO, high priority, port to dspace-7_x, port to dspace-8_x

#4326 Add basic automated tests to ensure common HTTP Return Codes do not break
  .github/workflows/build.yml
Labels: 1 APPROVAL, testing framework, port to dspace-7_x, port to dspace-8_x

#4332 [Port dspace-7_x] Remove `ssr.paths` configuration and replace with `ssr.excludePathPatterns` which excludes specific paths from SSR
  config/config.example.yml
  server.ts
  src/config/universal-config.interface.ts
  src/environments/environment.production.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
Labels: component: SEO, high priority

#4334 [Port dspace-7_x] Add basic automated tests to ensure common HTTP Return Codes do not break
  .github/workflows/build.yml
Labels: 1 APPROVAL, testing framework

#4333 [Port dspace-8_x] Add basic automated tests to ensure common HTTP Return Codes do not break
  .github/workflows/build.yml
Labels: 1 APPROVAL, testing framework

#3373 Adjust the font size of the 'No thumbnails available' text.
  src/styles/_global-styles.scss
Labels: bug, accessibility, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#4072 Update pt-PT.json5
  src/assets/i18n/pt-PT.json5
Labels: i18n / l10n, 1 APPROVAL

#4335 Improve accessibility for screen readers
  cypress/e2e/header.cy.ts
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal-issue/journal-issue-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal-volume/journal-volume-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal/journal-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal-issue/journal-issue-search-result-list-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal-volume/journal-volume-search-result-list-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal/journal-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/org-unit/org-unit-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/person/person-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/project/project-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/org-unit/org-unit-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/person/person-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/project/project-search-result-list-element.component.html
  src/app/header/header.component.html
  src/app/header/header.component.scss
  src/app/home-page/recent-item-list/recent-item-list.component.html
  src/app/navbar/navbar.component.html
  src/app/shared/auth-nav-menu/auth-nav-menu.component.html
  src/app/shared/auth-nav-menu/auth-nav-menu.component.scss
  src/app/shared/auth-nav-menu/auth-nav-menu.component.ts
  src/app/shared/lang-switch/lang-switch.component.html
  src/app/shared/lang-switch/lang-switch.component.spec.ts
  src/app/shared/log-in/methods/password/log-in-password.component.html
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.html
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.spec.ts
  src/app/shared/object-collection/shared/badges/my-dspace-status-badge/my-dspace-status-badge.component.html
  src/app/shared/object-collection/shared/badges/status-badge/status-badge.component.html
  src/app/shared/object-collection/shared/badges/type-badge/type-badge.component.html
  src/app/shared/object-grid/search-result-grid-element/collection-search-result/collection-search-result-grid-element.component.html
  src/app/shared/object-grid/search-result-grid-element/community-search-result/community-search-result-grid-element.component.html
  src/app/shared/object-grid/search-result-grid-element/item-search-result/item/item-search-result-grid-element.component.html
  src/app/shared/object-list/search-result-list-element/item-search-result/item-types/item/item-search-result-list-element.component.html
  src/app/submission/import-external/submission-import-external.component.html
  src/app/submission/import-external/submission-import-external.component.spec.ts
  src/assets/i18n/en.json5
  src/themes/dspace/app/header/header.component.html
Labels: bug, accessibility, port to dspace-7_x, port to dspace-8_x

#3889 Add new orejime cookie for correlation-id header
  .github/workflows/build.yml
  config/config.example.yml
  cypress/support/e2e.ts
  src/app/core/auth/auth.service.ts
  src/app/core/log/log.interceptor.spec.ts
  src/app/core/log/log.interceptor.ts
  src/app/correlation-id/correlation-id.service.spec.ts
  src/app/correlation-id/correlation-id.service.ts
  src/app/footer/footer.component.html
  src/app/footer/footer.component.spec.ts
  src/app/footer/footer.component.ts
  src/app/shared/cookies/browser-orejime.service.spec.ts
  src/app/shared/cookies/browser-orejime.service.ts
  src/app/shared/cookies/orejime-configuration.ts
  src/app/shared/cookies/server-orejime.service.ts
  src/app/shared/mydspace-actions/workspaceitem/workspaceitem-actions.component.spec.ts
  src/assets/i18n/en.json5
  src/assets/i18n/it.json5
  src/config/default-app-config.ts
  src/config/info-config.interface.ts
  src/modules/app/server-app.config.ts
Labels: improvement, high priority, privacy

#4329 Enforce standalone components/directives/pipes via linting
  .eslintrc.json
  src/app/browse-by/browse-by-page/browse-by-page.component.spec.ts
  src/app/browse-by/browse-by-switcher/browse-by-switcher.component.spec.ts
  src/app/process-page/form/process-parameters/parameter-value-input/value-input.component.ts
  src/app/shared/browse-by/browse-by.component.spec.ts
  src/app/shared/comcol/sections/comcol-browse-by/comcol-browse-by.component.spec.ts
  src/app/shared/disabled-directive.spec.ts
  src/app/shared/dso-selector/modal-wrappers/dso-selector-modal-wrapper.component.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/dynamic-vocabulary.component.ts
  src/app/shared/mydspace-actions/claimed-task/abstract/advanced-claimed-task-actions-abstract.component.ts
  src/app/shared/mydspace-actions/claimed-task/abstract/claimed-task-actions-abstract.component.ts
  src/app/shared/mydspace-actions/mydspace-actions.ts
  src/app/shared/mydspace-actions/mydspace-reloadable-actions.ts
  src/app/shared/object-select/object-select/object-select.component.ts
  src/app/shared/starts-with/starts-with-abstract.component.ts
  src/app/shared/theme-support/test/custom/themed-test.component.spec.ts
  src/app/shared/theme-support/test/test.component.spec.ts
  src/app/shared/theme-support/themed.component.ts
  src/app/submission/sections/models/section.model.ts
  src/app/workflowitems-edit-page/advanced-workflow-action/advanced-workflow-action/advanced-workflow-action.component.ts
Labels: code task, 1 APPROVAL

#4340 Fix unqualified metadata field validation in Edit Metadata tab by sorting fields in validation request
  src/app/dso-shared/dso-edit-metadata/metadata-field-selector/metadata-field-selector.component.spec.ts
  src/app/dso-shared/dso-edit-metadata/metadata-field-selector/metadata-field-selector.component.ts
Labels: bug, component: Item, port to dspace-7_x, port to dspace-8_x

#4341 Use ellipsis for truncatable parts
  src/styles/_truncatable-part.component.scss
Labels: bug, accessibility, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#3613 Accessibility settings page
  config/config.example.yml
  cypress.config.ts
  cypress/e2e/health-page.cy.ts
  cypress/support/e2e.ts
  src/app/accessibility/accessibility-settings.config.ts
  src/app/accessibility/accessibility-settings.service.spec.ts
  src/app/accessibility/accessibility-settings.service.stub.ts
  src/app/accessibility/accessibility-settings.service.ts
  src/app/core/auth/auth.service.ts
  src/app/footer/footer.component.html
  src/app/info/accessibility-settings/accessibility-settings.component.html
  src/app/info/accessibility-settings/accessibility-settings.component.spec.ts
  src/app/info/accessibility-settings/accessibility-settings.component.ts
  src/app/info/info-routes.ts
  src/app/info/info-routing-paths.ts
  src/app/profile-page/profile-page.component.html
  src/app/profile-page/profile-page.component.spec.ts
  src/app/profile-page/profile-page.component.ts
  src/app/root/root.component.spec.ts
  src/app/shared/cookies/orejime-configuration.ts
  src/app/shared/cookies/orejime.service.stub.ts
  src/app/shared/form/builder/ds-dynamic-form-ui/models/array-group/dynamic-form-array.component.spec.ts
  src/app/shared/live-region/live-region.service.spec.ts
  src/app/shared/live-region/live-region.service.ts
  src/app/shared/notifications/notifications-board/notifications-board.component.spec.ts
  src/app/shared/notifications/notifications-board/notifications-board.component.ts
  src/app/shared/search/search-filters/search-filter/search-facet-filter-options/search-facet-option/search-facet-option.component.spec.ts
  src/app/shared/testing/auth-service.stub.ts
  src/app/submission/sections/accesses/section-accesses.component.spec.ts
  src/assets/i18n/en.json5
  src/config/app-config.interface.ts
  src/config/default-app-config.ts
  src/environments/environment.test.ts
  src/themes/custom/app/profile-page/profile-page.component.ts
Labels: bug, accessibility, high priority

#4345 [Port dspace-8_x] fix submission footer wrapping on medium screens
  src/app/submission/form/footer/submission-form-footer.component.html
Labels: bug, component: submission, 1 APPROVAL

#4360 Fix and simplify submission section 'enabled' logic
  src/app/submission/objects/submission-objects.effects.ts
Labels: bug, quick win, 1 APPROVAL, port to dspace-8_x

#4367 Sync all i18n files with en.json5 for 9.0 release
  src/assets/i18n/ar.json5
  src/assets/i18n/bn.json5
  src/assets/i18n/ca.json5
  src/assets/i18n/cs.json5
  src/assets/i18n/de.json5
  src/assets/i18n/el.json5
  src/assets/i18n/es.json5
  src/assets/i18n/fi.json5
  src/assets/i18n/fr.json5
  src/assets/i18n/gd.json5
  src/assets/i18n/hi.json5
  src/assets/i18n/hu.json5
  src/assets/i18n/it.json5
  src/assets/i18n/ja.json5
  src/assets/i18n/kk.json5
  src/assets/i18n/lv.json5
  src/assets/i18n/nl.json5
  src/assets/i18n/pl.json5
  src/assets/i18n/pt-BR.json5
  src/assets/i18n/pt-PT.json5
  src/assets/i18n/sr-cyr.json5
  src/assets/i18n/sr-lat.json5
  src/assets/i18n/sv.json5
  src/assets/i18n/sw.json5
  src/assets/i18n/tr.json5
  src/assets/i18n/uk.json5
  src/assets/i18n/vi.json5
Labels: i18n / l10n, 1 APPROVAL

#4370 [Port dspace-8_x] Fix unqualified metadata field validation in Edit Metadata tab by sorting fields in validation request
  src/app/dso-shared/dso-edit-metadata/metadata-field-selector/metadata-field-selector.component.spec.ts
  src/app/dso-shared/dso-edit-metadata/metadata-field-selector/metadata-field-selector.component.ts
Labels: bug, component: Item

#4387 [Port dspace-7_x] Fix infinite loading submission forms
  src/app/core/submission/submission-rest.service.spec.ts
  src/app/core/submission/submission-rest.service.ts
  src/app/submission/form/submission-form.component.spec.ts
  src/app/submission/form/submission-form.component.ts
  src/app/workflowitems-edit-page/workflow-item-page.resolver.ts
  src/app/workspaceitems-edit-page/workspace-item-page.resolver.ts
Labels: bug, component: submission, high priority, performance / caching

#2774 German translation improvements in cookie consent dialog
  src/assets/i18n/de.json5
Labels: i18n / l10n, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#4385 [Port dspace-8_x] Made AdminSearchPageComponent themeable
  src/app/admin/admin-routes.ts
  src/app/admin/admin-search-page/admin-search-page.component.ts
  src/app/admin/admin-search-page/admin-search.module.ts
  src/app/admin/admin-search-page/themed-admin-search-page.component.ts
  src/app/admin/admin-workflow-page/admin-workflow-page.component.ts
  src/app/admin/admin-workflow-page/admin-workflow.module.ts
  src/app/admin/admin-workflow-page/themed-admin-workflow-page.component.ts
  src/app/core/metadata/metadata.service.ts
  src/app/shared/input-suggestions/input-suggestions.component.ts
  src/themes/custom/app/admin/admin-search-page/admin-search-page.component.html
  src/themes/custom/app/admin/admin-search-page/admin-search-page.component.scss
  src/themes/custom/app/admin/admin-search-page/admin-search-page.component.ts
  src/themes/custom/app/admin/admin-workflow-page/admin-workflow-page.component.html
  src/themes/custom/app/admin/admin-workflow-page/admin-workflow-page.component.scss
  src/themes/custom/app/admin/admin-workflow-page/admin-workflow-page.component.ts
  src/themes/custom/lazy-theme.module.ts
Labels: bug, accessibility, component: Discovery, themes, 1 APPROVAL

#4384 [Port dspace-7_x] Made AdminSearchPageComponent themeable
  src/app/admin/admin-routing.module.ts
  src/app/admin/admin-search-page/admin-search.module.ts
  src/app/admin/admin-search-page/themed-admin-search-page.component.ts
  src/app/admin/admin-workflow-page/admin-workflow.module.ts
  src/app/admin/admin-workflow-page/themed-admin-workflow-page.component.ts
  src/app/shared/input-suggestions/input-suggestions.component.ts
  src/themes/custom/app/admin/admin-search-page/admin-search-page.component.html
  src/themes/custom/app/admin/admin-search-page/admin-search-page.component.scss
  src/themes/custom/app/admin/admin-search-page/admin-search-page.component.ts
  src/themes/custom/app/admin/admin-workflow-page/admin-workflow-page.component.html
  src/themes/custom/app/admin/admin-workflow-page/admin-workflow-page.component.scss
  src/themes/custom/app/admin/admin-workflow-page/admin-workflow-page.component.ts
  src/themes/custom/lazy-theme.module.ts
Labels: bug, accessibility, component: Discovery, themes, 1 APPROVAL
