Repository DSpace/dspace-angular, pull requests merged in 2025-07, with the labels that each got.

#4519 [Port dspace-7_x] Accessibility settings page SSR Fix
  src/app/info/accessibility-settings/accessibility-settings.component.ts
Labels: bug, accessibility, 1 APPROVAL

#3821 [Port dspace-7_x] Vocabulary preloadlevel fix
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.spec.ts
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.ts
Labels: bug, component: controlled vocabulary, 1 APPROVAL

#3820 [Port dspace-8_x] Vocabulary preloadlevel fix
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.spec.ts
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.ts
Labels: bug, component: controlled vocabulary, 1 APPROVAL

#3819 Vocabulary preloadlevel fix
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.spec.ts
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.ts
Labels: bug, component: controlled vocabulary, 1 APPROVAL, port to dspace-9_x

#4522 [Port dspace-9_x] Vocabulary preloadlevel fix
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.spec.ts
  src/app/shared/form/vocabulary-treeview/vocabulary-treeview.component.ts
Labels: bug, component: controlled vocabulary, 1 APPROVAL

#4521 Update pt-PT.json5
  src/assets/i18n/pt-PT.json5
Labels: i18n / l10n, 1 APPROVAL, port to dspace-9_x

#4441 [Port dspace-8_x] Fixed search page still returning stale data after invalidating a request
  src/app/core/shared/search/search.service.spec.ts
  src/app/core/shared/search/search.service.ts
Labels: bug, component: Discovery, performance / caching

#4417 [Port dspace-7_x] Improve accessibility for screen readers
  cypress/e2e/header.cy.ts
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal-issue/journal-issue-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal-volume/journal-volume-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-grid-elements/search-result-grid-elements/journal/journal-search-result-grid-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal-issue/journal-issue-search-result-list-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal-volume/journal-volume-search-result-list-element.component.html
  src/app/entity-groups/journal-entities/item-list-elements/search-result-list-elements/journal/journal-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/org-unit/org-unit-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/person/person-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-grid-elements/search-result-grid-elements/project/project-search-result-grid-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/org-unit/org-unit-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/person/person-search-result-list-element.component.html
  src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/project/project-search-result-list-element.component.html
  src/app/header/header.component.scss
  src/app/home-page/recent-item-list/recent-item-list.component.html
  src/app/navbar/navbar.component.html
  src/app/shared/auth-nav-menu/auth-nav-menu.component.html
  src/app/shared/auth-nav-menu/auth-nav-menu.component.scss
  src/app/shared/auth-nav-menu/auth-nav-menu.component.spec.ts
  src/app/shared/auth-nav-menu/auth-nav-menu.component.ts
  src/app/shared/lang-switch/lang-switch.component.html
  src/app/shared/lang-switch/lang-switch.component.spec.ts
  src/app/shared/log-in/methods/password/log-in-password.component.html
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.html
  src/app/shared/object-collection/shared/badges/access-status-badge/access-status-badge.component.spec.ts
  src/app/shared/object-collection/shared/badges/my-dspace-status-badge/my-dspace-status-badge.component.html
  src/app/shared/object-collection/shared/badges/status-badge/status-badge.component.html
  src/app/shared/object-collection/shared/badges/type-badge/type-badge.component.html
  src/app/shared/object-grid/search-result-grid-element/collection-search-result/collection-search-result-grid-element.component.html
  src/app/shared/object-grid/search-result-grid-element/community-search-result/community-search-result-grid-element.component.html
  src/app/shared/object-grid/search-result-grid-element/item-search-result/item/item-search-result-grid-element.component.html
  src/app/shared/object-list/search-result-list-element/item-search-result/item-types/item/item-search-result-list-element.component.html
  src/app/submission/import-external/submission-import-external.component.html
  src/app/submission/import-external/submission-import-external.component.spec.ts
  src/assets/i18n/en.json5
  src/themes/dspace/app/header/header.component.html
Labels: bug, accessibility

#4436 [Port dspace-8_x] Make the default tab for browsing communities and collections configurable in DSpace 8
  config/config.example.yml
  src/app/collection-page/collection-page-routes.ts
  src/app/community-page/community-page-routes.ts
  src/app/shared/comcol/comcol-page-browse-by/comcol-page-browse-by.component.ts
  src/app/shared/comcol/sections/comcol-search-section/comcol-search-section.component.spec.ts
  src/app/shared/comcol/sections/comcol-search-section/comcol-search-section.component.ts
  src/assets/i18n/en.json5
  src/config/collection-page-config.interface.ts
  src/config/community-page-config.interface.ts
  src/config/default-app-config.ts
  src/environments/environment.test.ts
Labels: improvement, 1 APPROVAL, component: Community, component: Collection

#4487 Russian translation
  config/config.example.yml
  src/assets/i18n/ru.json5
  src/config/default-app-config.ts
Labels: i18n / l10n, 1 APPROVAL, port to dspace-9_x

#4568 Fix current parent order when creating subcommunity
  src/app/shared/dso-selector/modal-wrappers/create-community-parent-selector/create-community-parent-selector.component.ts
Labels: bug, component: Discovery, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#4593 [Docker] Remover references to obsolete backend "pgcrypto" images
  docker/db.entities.yml
  docker/docker-compose-ci.yml
  docker/docker-compose-rest.yml
Labels: 1 APPROVAL, backend: Docker, port to dspace-9_x

#4482 .github/dependabot.yml: group @ngtools/webpack with Angular
  .github/dependabot.yml
Labels: dependencies, 1 APPROVAL

#4344 fix(versioning): Encode summary
  src/app/core/data/version-history-data.service.ts
Labels: bug, component: versioning, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#4606 [Dependabot] Bump webpack-dev-server from 4.15.2 to 5.2.1
  package-lock.json
  package.json
Labels: dependencies, 1 APPROVAL, port to main

#4607 [Dependabot] Bump webpack-dev-server from 4.15.2 to 5.2.1
  package.json
  yarn.lock
Labels: dependencies, 1 APPROVAL

#4617 [Dependabot] Move zone.js and typescript rules into "ignore" settings and ignore major/minor versions
  .github/dependabot.yml
Labels: bug, code task, 1 APPROVAL
